/*
* Clock Control
*/
.clock-control {
  position: relative;
  width: 160px;
  height: 160px;
  background-size: cover;
  
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
}

/*
* Clock Control Hand
*/
.clock-control-hand{
  position: absolute;
  width:100%;
  height:100%;

  background-size:160px 160px;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  
   backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
}

/*
* Clock Control Default Face
*/
.clock-control-default {
  background-image: url('img/clock-face-default.png');
}

/*
* Clock Control Default Second Hand
*/
.clock-control-default > .clock-control-second {
  background-image: url('img/second-hand-default.png');
}

/*
* Clock Control Default Minute Hand
*/
.clock-control-default > .clock-control-minute {
  background-image: url('img/minute-hand-default.png');
}

/*
* Clock Control Default Hour Hand
*/
.clock-control-default > .clock-control-hour {
  background-image: url('img/hour-hand-default.png');
}