/*
* TODO: add library prefix "u5sl-"
* TODO: change "navcontainer" to "navcon"
*/

.navcontainer-type-bar{
	& > .navcontainer-target-bar{
		position:absolute;
		
		left:0;
		top:0;
		right:0;
		bottom:0;
		width:auto;
		height:auto;
		
		background-color:red;
	}
	
	& > .navcontainer-target-content{
		position:absolute;
		
		left:0;
		top:0;
		bottom:0;
		right:0;
		width:auto;
		height:auto;
		
		-webkit-transition:left 0.5s, top 0.5s, bottom 0.5s, right 0.5s, width 0.5s, height 0.5s;
	    transition:left 0.5s, top 0.5s, bottom 0.5s, right 0.5s, width 0.5s, height 0.5s;
		
		background-color:green;
	}
}



/*
* RESPONSIVE
*/
.makeBarNavContainerSize(@size, @i) when (@i > 0) {
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-@{size}-left{
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-bar{
			left:0;
			top:0;
			right:auto;
			bottom:0;
			
			width:percentage((@i / @grid-columns));
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-content{
			left:percentage((@i / @grid-columns));
			top:0;
			right:0;
			bottom:0;
			
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-content{
			left:percentage((@i / @grid-columns));
			top:0;
			right:auto;
			bottom:0;
			
			width:100%;
			height:auto;
		}
		
		&.navcontainer-flag-no-bar > .navcontainer-target-content{
			left:0;
			top:0;
			bottom:0;
			right:0;
			width:auto;
			height:auto;
		}
	}
	
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-@{size}-top{
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-bar{
			left:0;
			top:0;
			right:0;
			bottom:auto;
			width:auto;
			height:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-content{
			left:0;
			top:percentage((@i / @grid-columns));
			right:0;
			bottom:0;
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-content{
			left:0;
			top:percentage((@i / @grid-columns));
			right:0;
			bottom:auto;
			width:auto;
			height:100%;
		}
		
		&.navcontainer-flag-no-bar > .navcontainer-target-content{
			left:0;
			top:0;
			bottom:0;
			right:0;
			width:auto;
			height:auto;
		}
	}
	
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-@{size}-right{
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-bar{
			left:auto;
			top:0;
			right:0;
			bottom:0;
			
			width:percentage((@i / @grid-columns));
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-content{
			left: 0;
			top: 0;
			right:percentage((@i / @grid-columns));
			bottom: 0;
			
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-content{
			left: auto;
			right:percentage((@i / @grid-columns));
			top: 0;
			bottom:0;
			
			width:100%;
			height:auto;
		}
		
		&.navcontainer-flag-no-bar > .navcontainer-target-content{
			left:0;
			top:0;
			bottom:0;
			right:0;
			width:auto;
			height:auto;
		}
	}
	
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-@{size}-bottom{
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-bar{
			left:0;
			top:auto;
			right:0;
			bottom:0;
			
			width:auto;
			height:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-content{
			left: 0;
			top:0;
			right:0;
			bottom:percentage((@i / @grid-columns));
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-content{
			left:0;
			top:auto;
			right:0;
			bottom:percentage((@i / @grid-columns));
			width:auto;
			height:100%;
		}
		
		&.navcontainer-flag-no-bar > .navcontainer-target-content{
			left:0;
			top:0;
			bottom:0;
			right:0;
			width:auto;
			height:auto;
		}
	}
	
	.makeBarNavContainerSize(@size, (@i - 1));
}

.makeBarNavContainerSize(xs, 12);

@media (min-width: @screen-sm) {
	.makeBarNavContainerSize(sm, 12);
}

@media (min-width: @screen-md) {
	.makeBarNavContainerSize(md, 12);
}

@media (min-width: @screen-lg) {
	.makeBarNavContainerSize(lg, 12);
}