/*
* TODO: add library prefix "u5sl-"
* TODO: change "navcontainer" to "navcon"
*/

//Snap to all sides
.ui5strapSnapFullSize(){
	left:0;
	top:0;
	bottom:0;
	right:0;
	width:auto;
	height:auto;
}

//Transition for all sides
.ui5strapTransitionAllSides(@t){
	-webkit-transition:left @t, top @t, bottom @t, right @t, width @t, height @t;
	transition:left @t, top @t, bottom @t, right @t, width @t, height @t;
}

//Placement Left
//Bar
.ui5strapBarNavContainerPlacementLeftBar(@w){
	left:0;
	top:0;
	right:auto;
	bottom:0;
	
	width:@w;
	height:auto;
}

//Content
.ui5strapBarNavContainerPlacementLeftContent(@w){
	left:@w;
	top:0;
	right:0;
	bottom:0;
	
	width:auto;
	height:auto;
}

/*
 * DEFAULT Style
 */
.navcontainer-type-bar{
	& > .navcontainer-target-bar{
		position:absolute;
		
		.ui5strapSnapFullSize();
	}
	
	& > .navcontainer-target-content{
		position:absolute;
		
		.ui5strapSnapFullSize();
		
		.ui5strapTransitionAllSides(0.5s);
	}
	
	&.ui5strap-transition-speed-slow > .navcontainer-target-content{
		.ui5strapTransitionAllSides(0.75s);
	}
	
	&.ui5strap-transition-speed-fast > .navcontainer-target-content{
		.ui5strapTransitionAllSides(0.25s);
	}
}



/*
* RESPONSIVE Style
*/
.makeBarNavContainerSize(@size, @fullWidth, @i) when (@i > 0) {
	//Placement Left
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-@{size}-left{
		//Bar
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-overlay > .navcontainer-target-bar{
			.ui5strapBarNavContainerPlacementLeftBar(percentage((@i / @grid-columns)));
		}
		
		&.navcontainer-flag-mode-@{size}-intrudefixed > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrudefixed > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-overlayfixed > .navcontainer-target-bar{
			.ui5strapBarNavContainerPlacementLeftBar(((@i / @grid-columns) * @fullWidth));
		}
		
		//Content
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-content{
			.ui5strapBarNavContainerPlacementLeftContent(percentage((@i / @grid-columns)));
		}
		
		&.navcontainer-flag-mode-@{size}-intrudefixed > .navcontainer-target-content{
			.ui5strapBarNavContainerPlacementLeftContent(((@i / @grid-columns) * @fullWidth));
		}
		
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-content{
			.ui5strapBarNavContainerPlacementLeftContent(percentage((@i / @grid-columns)));
		}
		
		&.navcontainer-flag-mode-@{size}-extrudefixed > .navcontainer-target-content{
			.ui5strapBarNavContainerPlacementLeftContent(((@i / @grid-columns) * @fullWidth));
		}
		
		&.navcontainer-flag-mode-@{size}-overlay > .navcontainer-target-content,
		&.navcontainer-flag-mode-@{size}-overlayfixed > .navcontainer-target-content,
		&.navcontainer-flag-bar-hidden > .navcontainer-target-content{
			.ui5strapSnapFullSize();
		}
	}
	
	//Placement Top
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-@{size}-top{
		//Bar
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-overlay > .navcontainer-target-bar{
			left:0;
			top:0;
			right:0;
			bottom:auto;
			width:auto;
			height:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-mode-@{size}-intrudefixed > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrudefixed > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-overlayfixed > .navcontainer-target-bar{
			left:0;
			top:0;
			right:0;
			bottom:auto;
			width:auto;
			height:((@i / @grid-columns) * @fullWidth);
		}
		
		//Content
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-content{
			left:0;
			top:percentage((@i / @grid-columns));
			right:0;
			bottom:0;
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-intrudefixed > .navcontainer-target-content{
			left:0;
			top:((@i / @grid-columns) * @fullWidth);
			right:0;
			bottom:0;
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-content{
			left:0;
			top:percentage((@i / @grid-columns));
			right:0;
			bottom:auto;
			width:auto;
			height:100%;
		}
		
		&.navcontainer-flag-mode-@{size}-extrudefixed > .navcontainer-target-content{
			left:0;
			top:((@i / @grid-columns) * @fullWidth);
			right:0;
			bottom:auto;
			width:auto;
			height:100%;
		}
		
		&.navcontainer-flag-mode-@{size}-overlay > .navcontainer-target-content,
		&.navcontainer-flag-mode-@{size}-overlayfixed > .navcontainer-target-content,
		&.navcontainer-flag-bar-hidden > .navcontainer-target-content{
			.ui5strapSnapFullSize();
		}
	}
	
	//Placement Right
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-@{size}-right{
		//Bar
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-overlay > .navcontainer-target-bar{
			left:auto;
			top:0;
			right:0;
			bottom:0;
			
			width:percentage((@i / @grid-columns));
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-intrudefixed > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrudefixed > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-overlayfixed > .navcontainer-target-bar{
			left:auto;
			top:0;
			right:0;
			bottom:0;
			
			width:((@i / @grid-columns) * @fullWidth);
			height:auto;
		}
		
		//Content
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-content{
			left: 0;
			top: 0;
			right:percentage((@i / @grid-columns));
			bottom: 0;
			
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-intrudefixed > .navcontainer-target-content{
			left: 0;
			top: 0;
			right:((@i / @grid-columns) * @fullWidth);
			bottom: 0;
			
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-content{
			left: auto;
			right:percentage((@i / @grid-columns));
			top: 0;
			bottom:0;
			
			width:100%;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-extrudefixed > .navcontainer-target-content{
			left: auto;
			right:((@i / @grid-columns) * @fullWidth);
			top: 0;
			bottom:0;
			
			width:100%;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-overlay > .navcontainer-target-content,
		&.navcontainer-flag-mode-@{size}-overlayfixed > .navcontainer-target-content,
		&.navcontainer-flag-bar-hidden > .navcontainer-target-content{
			.ui5strapSnapFullSize();
		}
	}
	
	//Placement Bottom
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-@{size}-bottom{
		//Bar
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-overlay > .navcontainer-target-bar{
			left:0;
			top:auto;
			right:0;
			bottom:0;
			
			width:auto;
			height:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-mode-@{size}-intrudefixed > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-extrudefixed > .navcontainer-target-bar,
		&.navcontainer-flag-mode-@{size}-overlayfixed > .navcontainer-target-bar{
			left:0;
			top:auto;
			right:0;
			bottom:0;
			
			width:auto;
			height:((@i / @grid-columns) * @fullWidth);
		}
		
		//Content
		&.navcontainer-flag-mode-@{size}-intrude > .navcontainer-target-content{
			left: 0;
			top:0;
			right:0;
			bottom:percentage((@i / @grid-columns));
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-intrudefixed > .navcontainer-target-content{
			left: 0;
			top:0;
			right:0;
			bottom:((@i / @grid-columns) * @fullWidth);
			width:auto;
			height:auto;
		}
		
		&.navcontainer-flag-mode-@{size}-extrude > .navcontainer-target-content{
			left:0;
			top:auto;
			right:0;
			bottom:percentage((@i / @grid-columns));
			width:auto;
			height:100%;
		}
		
		&.navcontainer-flag-mode-@{size}-extrudefixed > .navcontainer-target-content{
			left:0;
			top:auto;
			right:0;
			bottom:((@i / @grid-columns) * @fullWidth);
			width:auto;
			height:100%;
		}
		
		&.navcontainer-flag-mode-@{size}-overlay > .navcontainer-target-content,
		&.navcontainer-flag-mode-@{size}-overlayfixed > .navcontainer-target-content,
		&.navcontainer-flag-bar-hidden > .navcontainer-target-content{
			.ui5strapSnapFullSize();
		}
	}
	
	.makeBarNavContainerSize(@size, @fullWidth, (@i - 1));
}

.makeBarNavContainerSize(xs, @screen-sm, 12);

@media (min-width: @screen-sm) {
	.makeBarNavContainerSize(sm, @screen-sm, 12);
}

@media (min-width: @screen-md) {
	.makeBarNavContainerSize(md, @screen-md, 12);
}

@media (min-width: @screen-lg) {
	.makeBarNavContainerSize(lg, @screen-lg, 12);
}