/*
* TODO: add library prefix "u5sl-"
* TODO: change "navcontainer" to "navcon"
*/

.navcontainer-type-bar{
	& > .navcontainer-target-bar{
		position:absolute;
		
		left:0;
		top:0;
		right:0;
		bottom:0;
		width:auto;
		height:auto;
		
		background-color:red;
	}
	
	& > .navcontainer-target-content{
		position:absolute;
		
		left:0;
		top:0;
		bottom:0;
		right:0;
		width:auto;
		height:auto;
		
		-webkit-transition:left 0.5s, top 0.5s, bottom 0.5s, right 0.5s, width 0.5s, height 0.5s;
	    transition:left 0.5s, top 0.5s, bottom 0.5s, right 0.5s, width 0.5s, height 0.5s;
		
		background-color:green;
	}
	
	&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-content{
		right:auto;
		bottom:auto;
		width:100%;
		height:100%;
	}
	
	
}



/*
* RESPONSIVE
*/
.makeBarNavContainerSize(@size, @i) when (@i > 0) {
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-left{
		&.navcontainer-flag-bar-mode-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-bar{
			right:auto;
			width:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-bar-mode-intrude > .navcontainer-target-content,
		&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-content{
			left:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-no-bar > .navcontainer-target-content{
			left:0;
		}
	}
	
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-top{
		&.navcontainer-flag-bar-mode-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-bar{
			bottom:auto;
			height:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-bar-mode-intrude > .navcontainer-target-content,
		&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-content{
			top:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-no-bar > .navcontainer-target-content{
			top:0;
		}
	}
	
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-right{
		&.navcontainer-flag-bar-mode-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-bar{
			left:auto;
			width:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-bar-mode-intrude > .navcontainer-target-content,
		&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-content{
			right:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-no-bar > .navcontainer-target-content{
			right:0;
		}
	}
	
	.navcontainer-type-bar.navcontainer-flag-col-@{size}-@{i}.navcontainer-flag-placement-bottom{
		&.navcontainer-flag-bar-mode-intrude > .navcontainer-target-bar,
		&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-bar{
			top:auto;
			height:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-bar-mode-intrude > .navcontainer-target-content,
		&.navcontainer-flag-bar-mode-extrude > .navcontainer-target-content{
			bottom:percentage((@i / @grid-columns));
		}
		
		&.navcontainer-flag-no-bar > .navcontainer-target-content{
			bottom:0;
		}
	}
	
	.makeBarNavContainerSize(@size, (@i - 1));
}

.makeBarNavContainerSize(xs, 12);

@media (min-width: @screen-sm) {
	.makeBarNavContainerSize(sm, 12);
}

@media (min-width: @screen-md) {
	.makeBarNavContainerSize(md, 12);
}

@media (min-width: @screen-lg) {
	.makeBarNavContainerSize(lg, 12);
}