.u5sl-barmenu{
	list-style:none;
	padding:0;
	margin:0;
}

.u5sl-barmenu > li{
	cursor: pointer;
}

.u5sl-barmenu > li.disabled{
	cursor: default;
}

.u5sl-barmenu > li.active{
	background-color: red;
}

.u5sl-barmenu > li > .u5sl-barmenu-item-icon{
	line-height: inherit;
}

.ui5strapMakeBarMenuSize(@size, @i){
	//Buttons Horizontal
	.u5sl-barmenu-flag-type-@{size}-buttonshorizontal{
		height:60%;	
	}
	
	.u5sl-barmenu-flag-type-@{size}-buttonshorizontal > li{
		text-align:center;
		height:50px;
		width:90px;
		line-height:25px;
		float: left;
	}
	
	.u5sl-barmenu-flag-type-@{size}-buttonshorizontal > li > .u5sl-barmenu-item-icon{
		display:block;
	}
	
	//Buttons Vertical
	.u5sl-barmenu-flag-type-@{size}-buttonsvertical{
		width:100%;	
	}
	
	.u5sl-barmenu-flag-type-@{size}-buttonsvertical > li{
		text-align:center;
		width: 100%;
		height:50px;
		line-height:25px;
	}
	
	.u5sl-barmenu-flag-type-@{size}-buttonsvertical > li > .u5sl-barmenu-item-icon{
		display:block;
	}
	
	//.ui5strapMakeBarMenuSize(@size, (@i - 1));
}

.ui5strapMakeBarMenuSize(xs, @grid-columns);

@media (min-width: @screen-sm) {
	.ui5strapMakeBarMenuSize(sm, @grid-columns);
}

@media (min-width: @screen-md) {
	.ui5strapMakeBarMenuSize(md, @grid-columns);
}

@media (min-width: @screen-lg) {
	.ui5strapMakeBarMenuSize(lg, @grid-columns);
}