.ui5strap-static-overlay{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

.ui5strap-static-overlay-backdrop{
  position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	
  background-color:rgba(0,0,0,0.8); 
  cursor:pointer;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}