/*
* Console
*/
.ui5strap-console-container{
  overflow:hidden;height:100%;
}

.ui5strap-console{
  background-color:black;height:100%;overflow:auto;font-family:monospace;
}

.ui5strap-console-inner{
  padding:12px;
}

.ui5strap-console .ui5strap-console-line{
  color:white;
}

.ui5strap-console .ui5strap-console-line.ui5strap-console-line-info{
  color:blue;
}

.ui5strap-console .ui5strap-console-line.ui5strap-console-line-debug{
  color:white;
}

.ui5strap-console .ui5strap-console-line.ui5strap-console-line-warning{
  color:yellow;
}

.ui5strap-console .ui5strap-console-line.ui5strap-console-line-error{
  color:red;
}

.ui5strap-console .ui5strap-console-line.ui5strap-console-line-fatal{
  color:red;
}