/*
* TODO: add library prefix "u5sl-"
*/

/*
* Transitions
*/

/*
*
* Transiton Slide
* @deprecated Use transition-slide-rtl instead
*/
.transition-slide{
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
  
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;
}

.transition-slide-current-out{

  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.transition-slide-next{
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%,0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/*
* Transiton Slide Right to Left
*/
.transition-slide-rtl{
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;
}

.transition-slide-rtl-current-out{
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.transition-slide-rtl-next{
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%,0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/*
* Transiton Slide Left to Right
*/
.transition-slide-ltr{
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;
}

.transition-slide-ltr-current-out{
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.transition-slide-ltr-next{
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%,0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/*
*
* Transition Slide Top to Bottom
*
*/
.transition-slide-ttb{
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;
}

.transition-slide-ttb-current-out{
  -webkit-transform: translate3d(0, 100%,  0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.transition-slide-ttb-next{
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/*
*
* Transition Slide Bottom to Top
*
*/
.transition-slide-btt{
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;
}

.transition-slide-btt-current-out{
  -webkit-transform: translate3d(0, -100%,  0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.transition-slide-btt-next{
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}


/*
*
* Transition Fade
*
*/
.transition-fade{
  opacity:1;

  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  
  -webkit-font-smoothing: subpixel-antialiased;
}

.transition-fade-current{
  z-index:1;
}

.transition-fade-next{
  opacity: 0;
}

.transition-fade-current-out{
  opacity: 0;
}

/*
*
* Transition Flip
* Does not work in Chrome currently
*
*/
.transition-flip{
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  -ms-transition: -ms-transform .5s;

  
  -webkit-transform: rotate3d(0,0,0,0);
  -moz-transform: rotate3d(0,0,0,0);
  -o-transform: rotate3d(0,0,0,0);
  -ms-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
      -ms-backface-visibility: hidden;

}

.transition-flip-current{
  z-index:1;
}

.transition-flip-next{
  transform: rotate3d(0, 1, 0, -180deg);
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
}

.transition-flip-current-out{
  transform: rotate3d(0, 1, 0, 180deg);
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
}

.transition-flip .ui5strap-gpu{
	visibility:hidden;
}


/*
*
* Transition Zoom
*
*/
.transition-zoom{
  transition: transform .5s, opacity 0.1s;
  -webkit-transition: -webkit-transform .5s, opacity 0.1s;
  -moz-transition: -moz-transform .5s, opacity 0.1s;
  -o-transition: -o-transform .5s, opacity 0.1s;
  -ms-transition: -ms-transform .5s, opacity 0.1s;
/*
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  opacity:1;
  */
}

.transition-zoom-next{
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
}

.transition-zoom-current-out{
  opacity: 0.99;
}

/*
*
* Transition Zoom 2
*
*/
.transition-zoom2{
  -webkit-transition: -webkit-transform .5s, opacity .1s;
  -moz-transition: -moz-transform .5s, opacity .1s;
  -o-transition: -o-transform .5s, opacity .1s;
  -ms-transition: -ms-transform .5s, opacity .1s;
  transition: transform .5s, opacity .1s;
}

.transition-zoom2-next{
  opacity: 0.99;
  z-index:auto;
}

.transition-zoom2-current{
  z-index: 1;
}

.transition-zoom2-current-out{
  transform: scale3d(0, 0,0);
  -webkit-transform: scale3d(0, 0,0);
  -moz-transform: scale3d(0, 0,0);
  -o-transform: scale3d(0, 0,0);
  -ms-transform: scale3d(0, 0,0);
}

/*
* --------------------------------------------------------------------------
* --------------------------------------------------------------------------
* --------------------------------------------------------------------------
*/

//Transition tranform
.ui5strapTransitionTransform(@t){
	-webkit-transition: -webkit-transform @t;
	-moz-transition: -moz-transform @t;
	-o-transition: -o-transform @t;
	-ms-transition: -ms-transform @t;
	transition: transform @t;
}

//Transition opacity
.ui5strapTransitionOpacity(@t){
	-webkit-transition: opacity @t;
	-moz-transition: opacity @t;
	-o-transition: opacity @t;
	-ms-transition: opacity @t;
	transition: opacity @t;
}

//Transition transform and opacity
.ui5strapTransitionTransformOpacity(@t1, @t2){
	-webkit-transition: -webkit-transform @t1, opacity @t2;
  	-moz-transition: -moz-transform @t1, opacity @t2;
  	-o-transition: -o-transform @t1, opacity @t2;
  	-ms-transition: -ms-transform @t1, opacity @t2;
  	transition: transform @t1, opacity @t2;
}

//Transform 3d
.ui5strapTransformTranslate3d(@x, @y, @z){
	-webkit-transform: translate3d(@x, @y, @z);
	-moz-transform: translate3d(@x, @y, @z);
	-ms-transform: translate3d(@x, @y, @z);
	-o-transform: translate3d(@x, @y, @z);
	transform: translate3d(@x, @y, @z);
}

//Rotate 3d
.ui5strapTransformRotate3d(@x, @y, @z, @angle){
	-webkit-transform: rotate3d(@x, @y, @z, @angle);
	-moz-transform: rotate3d(@x, @y, @z, @angle);
	-ms-transform: rotate3d(@x, @y, @z, @angle);
	-o-transform: rotate3d(@x, @y, @z, @angle);
	transform: rotate3d(@x, @y, @z, @angle);
}

//Transform 3d
.ui5strapTransformScale3d(@x, @y, @z){
	-webkit-transform: scale3d(@x, @y, @z);
	-moz-transform: scale3d(@x, @y, @z);
	-ms-transform: scale3d(@x, @y, @z);
	-o-transform: scale3d(@x, @y, @z);
	transform: scale3d(@x, @y, @z);
}

.makeTransitionSize(@size){
	/*
	* Transiton Slide Right to Left
	*/
	.ui5strap-trans-@{size}-type-slide-rtl{
	
		&{
			  .ui5strapTransitionTransform(@transition-speed-normal);
			  
			  .ui5strapTransformTranslate3d(0, 0, 0);
			
			  -webkit-font-smoothing: subpixel-antialiased;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransform(@transition-speed-slow);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransform(@transition-speed-fast);
		}
		
		&.ui5strap-transition-current-out{
			 .ui5strapTransformTranslate3d(-100%, 0, 0);
		}
		
		&.ui5strap-transition-next{
			.ui5strapTransformTranslate3d(100%, 0, 0);
		}
	
	}
	
	/*
	* Transiton Slide Left to Right
	*/
	.ui5strap-trans-@{size}-type-slide-ltr{
		&{
		  .ui5strapTransitionTransform(@transition-speed-normal);
		
		  .ui5strapTransformTranslate3d(0, 0, 0);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransform(@transition-speed-slow);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransform(@transition-speed-fast);
		}
	
		&.ui5strap-transition-current-out{
		  .ui5strapTransformTranslate3d(100%, 0, 0);
		}
	
		&.ui5strap-transition-next{
		  .ui5strapTransformTranslate3d(-100%, 0, 0);
		}
		
	}
	
	/*
	*
	* Transition Slide Top to Bottom
	*
	*/
	.ui5strap-trans-@{size}-type-slide-ttb{
		&{
		  .ui5strapTransitionTransform(@transition-speed-normal);
		
		  .ui5strapTransformTranslate3d(0, 0, 0);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransform(@transition-speed-slow);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransform(@transition-speed-fast);
		}
	
		&.ui5strap-transition-current-out{
		  .ui5strapTransformTranslate3d(0, 100%, 0);
		}
	
		&.ui5strap-transition-next{
			.ui5strapTransformTranslate3d(0, -100%, 0);
		}
	
	}
	
	/*
	*
	* Transition Slide Bottom to Top
	*
	*/
	.ui5strap-trans-@{size}-type-slide-btt{
		&{
		  .ui5strapTransitionTransform(@transition-speed-normal);
		
		  .ui5strapTransformTranslate3d(0, 0, 0);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransform(@transition-speed-slow);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransform(@transition-speed-fast);
		}
	
		&.ui5strap-transition-current-out{
		  .ui5strapTransformTranslate3d(0, -100%, 0);
		}
	
		&.ui5strap-transition-next{
		  .ui5strapTransformTranslate3d(0, 100%, 0);
		}
		
	}
	
	/*
	*
	* Transition Flip Horizontal Clockwise
	*
	*/
	.ui5strap-trans-@{size}-type-flip-horizontal-cw{
		&{
		  .ui5strapTransitionTransform(@transition-speed-normal);
		
		  .ui5strapTransformRotate3d(0, 0, 0, 0);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		  
				  backface-visibility: hidden;
		  -webkit-backface-visibility: hidden;
		     -moz-backface-visibility: hidden;
		       -o-backface-visibility: hidden;
		      -ms-backface-visibility: hidden;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransform(@transition-speed-slow);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransform(@transition-speed-fast);
		}
	
		&.ui5strap-transition-current{
			z-index:1;
		}
		
		&.ui5strap-transition-current-out{
		  .ui5strapTransformRotate3d(0, 1, 0, -180deg);
		}
	
		&.ui5strap-transition-next{
		  .ui5strapTransformRotate3d(0, 1, 0, 180deg);
		}
	}
	
	/*
	*
	* Transition Flip Horizontal Counter Clockwise
	*
	*/
	.ui5strap-trans-@{size}-type-flip-horizontal-ccw{
		&{
		  .ui5strapTransitionTransform(@transition-speed-normal);
		
		  .ui5strapTransformRotate3d(0, 0, 0, 0);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		  
				  backface-visibility: hidden;
		  -webkit-backface-visibility: hidden;
		     -moz-backface-visibility: hidden;
		       -o-backface-visibility: hidden;
		      -ms-backface-visibility: hidden;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransform(@transition-speed-slow);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransform(@transition-speed-fast);
		}
	
		&.ui5strap-transition-current{
			z-index:1;
		}
		
		&.ui5strap-transition-current-out{
		  .ui5strapTransformRotate3d(0, 1, 0, 180deg);
		}
	
		&.ui5strap-transition-next{
		  .ui5strapTransformRotate3d(0, 1, 0, -180deg);
		}
	}

	/*
	*
	* Transition Flip Vertical Clockwise
	*
	*/
	.ui5strap-trans-@{size}-type-flip-vertical-cw{
		&{
		  .ui5strapTransitionTransform(@transition-speed-normal);
		
		  .ui5strapTransformRotate3d(0, 0, 0, 0);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		  
				  backface-visibility: hidden;
		  -webkit-backface-visibility: hidden;
		     -moz-backface-visibility: hidden;
		       -o-backface-visibility: hidden;
		      -ms-backface-visibility: hidden;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransform(@transition-speed-slow);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransform(@transition-speed-fast);
		}
	
		&.ui5strap-transition-current{
			z-index:1;
		}
		
		&.ui5strap-transition-current-out{
		  .ui5strapTransformRotate3d(1, 0, 0, -180deg);
		}
	
		&.ui5strap-transition-next{
		  .ui5strapTransformRotate3d(1, 0, 0, 180deg);
		}
	}
	
	/*
	*
	* Transition Flip Vertical Counter Clockwise
	*
	*/
	.ui5strap-trans-@{size}-type-flip-vertical-ccw{
		&{
		  .ui5strapTransitionTransform(@transition-speed-normal);
		
		  .ui5strapTransformRotate3d(0, 0, 0, 0);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		  
				  backface-visibility: hidden;
		  -webkit-backface-visibility: hidden;
		     -moz-backface-visibility: hidden;
		       -o-backface-visibility: hidden;
		      -ms-backface-visibility: hidden;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransform(@transition-speed-slow);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransform(@transition-speed-fast);
		}
	
		&.ui5strap-transition-current{
			z-index:1;
		}
		
		&.ui5strap-transition-current-out{
		  .ui5strapTransformRotate3d(1, 0, 0, 180deg);
		}
	
		&.ui5strap-transition-next{
		  .ui5strapTransformRotate3d(1, 0, 0, -180deg);
		}
	}
	
	/*
	*
	* Transition Zoom In
	*
	*/
	.ui5strap-trans-@{size}-type-zoom-in{
		&{
		  .ui5strapTransitionTransformOpacity(@transition-speed-normal, @transition-speed-dummy);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransformOpacity(@transition-speed-slow, @transition-speed-dummy);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransformOpacity(@transition-speed-fast, @transition-speed-dummy);
		}
		
		&.ui5strap-transition-current-out{
			opacity: 0.99; 
		}
	
		&.ui5strap-transition-next{
			 .ui5strapTransformScale3d(0, 0, 0);
		}
	}
	
	/*
	*
	* Transition Zoom Out
	*
	*/
	.ui5strap-trans-@{size}-type-zoom-out{
		&{
		  .ui5strapTransitionTransformOpacity(@transition-speed-normal, @transition-speed-dummy);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		}
		
		&.ui5strap-transition-speed-slow{
			.ui5strapTransitionTransformOpacity(@transition-speed-slow, @transition-speed-dummy);
		}
		
		&.ui5strap-transition-speed-fast{
			.ui5strapTransitionTransformOpacity(@transition-speed-fast, @transition-speed-dummy);
		}
		
		&.ui5strap-transition-current{
			z-index:1;
		}
		
		&.ui5strap-transition-current-out{
			.ui5strapTransformScale3d(0, 0, 0);
		}
	
		&.ui5strap-transition-next{
			opacity: 0.99;  
		}
	}
	
	/*
	* Transiton NONE
	*/
	.ui5strap-trans-@{size}-type-none{
		&{
		  opacity: 1;
		
		  .ui5strapTransitionOpacity(@transition-speed-dummy);
  
		  .ui5strapTransformTranslate3d(0, 0, 0);
		
		  -webkit-font-smoothing: subpixel-antialiased;
		}
	
		&.ui5strap-transition-current-out{
		  opacity: 0.99;
		}
	
		&.ui5strap-transition-next{
		  opacity: 0.99;
		}
		
	}
}

.makeTransitionSize(all);

@media (max-width: (@screen-sm - 1)) {
	.makeTransitionSize(xs);
}

@media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
	.makeTransitionSize(sm);
}

@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
	.makeTransitionSize(md);
}

@media (min-width: @screen-lg) {
	.makeTransitionSize(lg);
}