@size-B:       576px;
@size-C:       768px;
@size-D:       992px;

//Abstract generic bar
@bar-height:                      43px;
@bar-padding-horizontal:          15px;

@bar-default-bg:                  @navbar-default-bg;
@bar-default-border:              @navbar-default-border;
@bar-default-color:               @navbar-default-color;

// Sidebar default links
@bar-default-link-color:                @navbar-default-link-color;
@bar-default-link-hover-color:          @navbar-default-link-hover-color;
@bar-default-link-hover-bg:             @navbar-default-link-hover-bg;
@bar-default-link-active-color:         @navbar-default-link-active-color;
@bar-default-link-active-bg:            @navbar-default-link-active-bg;
@bar-default-link-disabled-color:       @navbar-default-link-disabled-color;
@bar-default-link-disabled-bg:          @navbar-default-link-disabled-bg;

@bar-inverse-bg:                  @navbar-inverse-bg;
@bar-inverse-border:              @navbar-inverse-border;
@bar-inverse-color:               @navbar-inverse-color;

@bar-inverse-link-color:                 @navbar-inverse-link-color;
@bar-inverse-link-hover-color:           @navbar-inverse-link-hover-color;
@bar-inverse-link-hover-bg:              @navbar-inverse-link-hover-bg;
@bar-inverse-link-active-color:          @navbar-inverse-link-active-color;
@bar-inverse-link-active-bg:             @navbar-inverse-link-active-bg;
@bar-inverse-link-disabled-color:        @navbar-inverse-link-disabled-color;
@bar-inverse-link-disabled-bg:           @navbar-inverse-link-disabled-bg;

//Sidebar
@sidebar-default-bg:                  @navbar-default-bg;
@sidebar-default-border:              @navbar-default-border;
@sidebar-default-color:               @navbar-default-color;

// Sidebar default links
@sidebar-default-link-color:                @navbar-default-link-color;
@sidebar-default-link-hover-color:          @navbar-default-link-hover-color;
@sidebar-default-link-hover-bg:             @navbar-default-link-hover-bg;
@sidebar-default-link-active-color:         @navbar-default-link-active-color;
@sidebar-default-link-active-bg:            @navbar-default-link-active-bg;
@sidebar-default-link-disabled-color:       @navbar-default-link-disabled-color;
@sidebar-default-link-disabled-bg:          @navbar-default-link-disabled-bg;

@sidebar-inverse-bg:                  @navbar-inverse-bg;
@sidebar-inverse-border:              @navbar-inverse-border;
@sidebar-inverse-color:               @navbar-inverse-color;

// Inverted navbar links
@sidebar-inverse-link-color:                 @navbar-inverse-link-color;
@sidebar-inverse-link-hover-color:           @navbar-inverse-link-hover-color;
@sidebar-inverse-link-hover-bg:              @navbar-inverse-link-hover-bg;
@sidebar-inverse-link-active-color:          @navbar-inverse-link-active-color;
@sidebar-inverse-link-active-bg:             @navbar-inverse-link-active-bg;
@sidebar-inverse-link-disabled-color:        @navbar-inverse-link-disabled-color;
@sidebar-inverse-link-disabled-bg:           @navbar-inverse-link-disabled-bg;

//Navcontainer Sidebar
@sidebar-A-width:                   220px;
@sidebar-B-width:                   235px;
@sidebar-C-width:                   245px;
@sidebar-D-width:                   255px;

//Sidebar small / bottom bar
@sidebar-small-A-height:            60px;
@sidebar-small-B-width:             70px;
@sidebar-small-C-width:             75px;
@sidebar-small-D-width:             80px;

//Sidenav
@sidenav-A-width:                     75%;
@sidenav-B-width:                   430px;
@sidenav-C-width:                   440px;
@sidenav-D-width:                   450px;

@sidebar-2nav-threshold:             @size-C;