/*
* Show Mouse Pointer on nav items
*/
.nav > li > a{
	cursor:pointer;
}

.navbar-brand{
	cursor:pointer;
}

.container{

}

/*
* Pictures for get started page
*/
.get-started-screenshot{
	margin-top:10px;
	margin-bottom:10px;
}

/*
* CSS for MyNavContainer
*/

.ui5strap-nc-bootstrapDefault > .ui5strap-nc-aggregation-content > .ui5strap-nc-page{
	padding-top:50px;
}

.ui5strap-nc-bootstrapDefault > .ui5strap-nc-aggregation-content .sapUiView > .container,
.ui5strap-nc-bootstrapDefault > .ui5strap-nc-aggregation-content .ui5strap-scroll-container > .container
{
	padding-top:20px;
}

/*
* Bootstrap Grid Demo
*/
.show-grid [class^=col-]{

	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);

}

/*
* The carousel for the controls page
*/
.boilerplateCarousel{
	width:100%; 
	height:100%;
	
	overflow:hidden;
	margin-bottom:10px;
}

.boilerplateCarousel > .carousel-inner{
	height:100%;
}


.boilerplateCarousel  > .carousel-inner > .item{
	height:100%;
	padding-left:5%;
	padding-right:5%;
	
}

.boilerplateCarousel  > .carousel-inner > .item > .sapUiView{
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;

	-webkit-overflow-scrolling: touch;
}

.boilerplateCarousel  > .carousel-inner > .item > .sapUiView > .container-fluid{
padding-bottom:80px;
}

.boilerplateCarousel .carousel-indicators li{
	margin:3px;
	-moz-box-shadow: 0 0 5px 0px #090909;
	-webkit-box-shadow: 0 0 5px 0px#090090;
	box-shadow: 0 0 5px 0px #090909;
	background-color:white;
	border-color: #888;
}

.boilerplateCarousel .carousel-indicators li.active{
	background-color: #888;
}

.boilerplateCarousel .carousel-control{
	width:5%;
}

