body{
	padding:0;
	margin:0;
	height:100%;
}

.footer{
	background-color:#f0f0f0; 
	height:30px; 
	line-height:30px; 
	width:100%; 
	position:absolute; 
	left:0; 
	bottom:0;
	font-size:12px;
	padding-left:10px;
}

.nav > li > a{
	cursor:pointer;
}

.navbar-brand{
	cursor:pointer;
}

.get-started-screenshot{
	margin-top:10px;
	margin-bottom:10px;
}

.ui5strap-nc-page > .sapUiView{
  padding-top:70px;
  padding-bottom:30px;

}

.show-grid [class^=col-]{

	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);

}

.boilerplateCarousel{
	width:100%; 
	height:500px;
	
	overflow:hidden;
}

.boilerplateCarousel > .carousel-inner{
	height:100%;
}


.boilerplateCarousel  > .carousel-inner > .item{
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
}

.boilerplateCarousel  > .carousel-inner > .item > .sapUiView > .container-fluid{
	padding-left:200px;
	padding-right:200px;
}



.boilerplateCarousel .carousel-indicators li{
	border-color: black;
}

.boilerplateCarousel .carousel-indicators li.active{
	background-color: black;
}