body{
	padding-top: 70px;
	padding-bottom: 40px;
}

.ui5strap-nav-container{
	height:100%;
}

.ui5strap-nav-container > .ui5strap-nav-container-content{
	height:100%;
}

.ui5strap-nav-container > .ui5strap-nav-container-content > .sapUiView{
	height:100%;
}

.footer{
	background-color:#f0f0f0; 
	height:30px; 
	line-height:30px; 
	width:100%; 
	position:fixed; 
	left:0; 
	bottom:0;
	font-size:12px;
	padding-left:10px;
}

.nav > li > a{
	cursor:pointer;
}

.navbar-brand{
	cursor:pointer;
}

.get-started-screenshot{
	margin-top:10px;
	margin-bottom:10px;
}