<template data-controller-name="com__ui5strap__bs.basic__app.controllers.Controls">

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">

			

			<!-- Buttons -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Buttons"></div>

			<div data-sap-ui-type="ui5strap.Row">
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="6">

			<!-- Normal buttons -->
			<div data-sap-ui-type="ui5strap.Paragraph">
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="Default" data-severity="Default"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="Primary" data-severity="Primary"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="Success" data-severity="Success"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="Info" data-severity="Info"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="Warning" data-severity="Warning"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="Danger" data-severity="Danger" data-insert-content="Before">
						<div data-sap-ui-type="ui5strap.Icon" data-icon="exclamation-triangle"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-type="Link" data-text="Link"></div>
			</div>

			<!-- Normal buttons -->
			<div data-sap-ui-type="ui5strap.Paragraph">
					<div data-sap-ui-type="ui5strap.Button" data-enabled="false" data-text="Default" data-severity="Default"></div>
					<div data-sap-ui-type="ui5strap.Button" data-enabled="false" data-text="Primary" data-severity="Primary"></div>
					<div data-sap-ui-type="ui5strap.Button" data-enabled="false" data-text="Success" data-severity="Success"></div>
					<div data-sap-ui-type="ui5strap.Button" data-enabled="false" data-text="Info" data-severity="Info"></div>
					<div data-sap-ui-type="ui5strap.Button" data-enabled="false" data-text="Warning" data-severity="Warning"></div>
					<div data-sap-ui-type="ui5strap.Button" data-enabled="false" data-text="Danger" data-severity="Danger"></div>
					<div data-sap-ui-type="ui5strap.Button" data-enabled="false" data-type="Link" data-text="Link"></div>
			</div>
			

			<!-- Normal buttons -->
			<div data-sap-ui-type="ui5strap.Paragraph">
					<div data-sap-ui-type="ui5strap.ButtonDropdown" data-text="Default" data-severity="Default">
						<div data-sap-ui-type="ui5strap.ListDropdownMenu" data-tap="buttonDropdownTap" >
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Cras justo odio"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Dapibus ac facilisis in"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Morbi leo risus"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Porta ac consectetur ac"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Vestibulum at eros"></div>
						</div>
					</div>
					<div data-sap-ui-type="ui5strap.ButtonDropdown" data-text="Primary" data-severity="Primary">
						<div data-sap-ui-type="ui5strap.ListDropdownMenu" data-tap="buttonDropdownTap" >
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Cras justo odio"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Dapibus ac facilisis in"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Morbi leo risus"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Porta ac consectetur ac"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Vestibulum at eros"></div>
						</div>
					</div>
					<div data-sap-ui-type="ui5strap.ButtonDropdown" data-text="Success" data-severity="Success">
						<div data-sap-ui-type="ui5strap.ListDropdownMenu" data-tap="buttonDropdownTap" >
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Cras justo odio"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Dapibus ac facilisis in"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Morbi leo risus"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Porta ac consectetur ac"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Vestibulum at eros"></div>
						</div>
					</div>
					<div data-sap-ui-type="ui5strap.ButtonDropdown" data-tap="buttonTap" data-split="true" data-text="Master" data-severity="Info">
						<div data-sap-ui-type="ui5strap.ListDropdownMenu" data-tap="buttonDropdownTap" data-selection-mode="Master">
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Cras justo odio"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Dapibus ac facilisis in"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Morbi leo risus"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Porta ac consectetur ac"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Vestibulum at eros"></div>
						</div>
					</div>
					<div data-sap-ui-type="ui5strap.ButtonDropdown" data-tap="buttonTap" data-split="true" data-text="Single" data-dropup="true" data-severity="Warning">
						<div data-sap-ui-type="ui5strap.ListDropdownMenu" data-tap="buttonDropdownTap" data-selection-mode="Single" >
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Cras justo odio"></div>
							</div>
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Dapibus ac facilisis in"></div>
							</div>
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Morbi leo risus"></div>
							</div>
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Porta ac consectetur ac"></div>
							</div>
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Vestibulum at eros"></div>
							</div>
						</div>
					</div>
					<div data-sap-ui-type="ui5strap.ButtonDropdown" data-tap="buttonTap"  data-split="true" data-text="SingleMaster" data-dropup="true" data-severity="Danger">
						<div data-sap-ui-type="ui5strap.ListDropdownMenu" data-tap="buttonDropdownTap"  data-selection-mode="SingleMaster" data-update-master-text="true">
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Cras justo odio"></div>
							</div>
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Dapibus ac facilisis in"></div>
							</div>
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Morbi leo risus"></div>
							</div>
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Porta ac consectetur ac"></div>
							</div>
							<div data-sap-ui-type="ui5strap.ListItem">
								<div data-sap-ui-type="ui5strap.Link" data-text="Vestibulum at eros"></div>
							</div>
						</div>
					</div>
			</div>

			<!-- Large buttons -->
			<div data-sap-ui-type="ui5strap.Paragraph">
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-size="Large" data-text="Large Button" data-severity="Primary"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-size="Medium" data-text="Medium Button" data-severity="Primary"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-size="Small" data-text="Small Button" data-severity="Primary"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-size="ExtraSmall" data-text="Mini Button" data-severity="Primary"></div>
					
			</div>

		</div>
		<div data-sap-ui-type="ui5strap.Col" data-columns-small="6">

			<div data-sap-ui-type="ui5strap.Container" data-type="Paragraph">
				<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-type="Block" data-severity="Default" data-text="Block"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Container" data-type="Paragraph">
				<div data-sap-ui-type="ui5strap.ButtonGroup" data-type="Justified" data-size="Large">
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-severity="Default" data-text="Left"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-severity="Default" data-text="Middle"></div>
					<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-severity="Default" data-text="Right"></div>
				</div>
			</div>
			<div data-sap-ui-type="ui5strap.Container" data-type="Paragraph">
				<div data-sap-ui-type="ui5strap.ButtonToolbar">

				
					<div data-sap-ui-type="ui5strap.ButtonGroup">
						<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="1"></div>
						<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="2"></div>
						<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="3"></div>
						<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="4"></div>
					</div>
				
				
					<div data-sap-ui-type="ui5strap.ButtonGroup">
						<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" >
							<div data-sap-ui-type="ui5strap.Icon" data-icon="file"></div>
						</div>
						<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" >
							<div data-sap-ui-type="ui5strap.Icon" data-icon="folder-open"></div>
						</div>
					</div>
				
				
					<div data-sap-ui-type="ui5strap.ButtonGroup">
						<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-text="5"></div>
						<div data-sap-ui-type="ui5strap.ButtonDropdown" data-text="Dropdown">
							<div data-sap-ui-type="ui5strap.ListDropdownMenu" data-tap="buttonDropdownTap"  data-selection-mode="SingleMaster" data-update-master-text="true">
								<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Cras justo odio"></div>
								<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Dapibus ac facilisis in"></div>
								<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Morbi leo risus"></div>
								<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Porta ac consectetur ac"></div>
								<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Vestibulum at eros"></div>
							</div>
						</div>
					</div>
				
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Heading" data-level="5" data-text="Button navigation"></div>

			<div data-sap-ui-type="ui5strap.Container">
				<div data-sap-ui-type="ui5strap.Container" data-type="Floating">
					<div data-sap-ui-type="ui5strap.ButtonGroup" id="vButtons" data-type="Vertical" data-selection-mode="Single">
						<div data-sap-ui-type="ui5strap.Button" data-text="Home" data-selected="true"></div>
						<div data-sap-ui-type="ui5strap.Button" data-text="Library"></div>
						<div data-sap-ui-type="ui5strap.Button" data-text="Data"></div>
						<div data-sap-ui-type="ui5strap.Button" data-text="Contact"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Container">
					<div data-sap-ui-type="ui5strap.TabContainer" data-source="vButtons" data-animate="false">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui."></div>
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit."></div>
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork."></div>
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater."></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</template>