<template data-controller-name="com__ui5strap__bs.basic__app.controllers.Controls">

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">

<!-- Progress -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Icons"></div>

			<div data-sap-ui-type="ui5strap.Heading" data-text="Basic Icons"></div>

			<div data-sap-ui-type="ui5strap.Icon" data-icon="camera-retro"></div>

			<div data-sap-ui-type="ui5strap.Heading" data-text="Larger Icons"></div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Icon" data-icon="camera-retro" data-size="Large"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" Large"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Icon" data-icon="camera-retro" data-size="X2"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" X2"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Icon" data-icon="camera-retro" data-size="X3"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" X3"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Icon" data-icon="camera-retro" data-size="X4"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" X4"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Icon" data-icon="camera-retro" data-size="X5"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" X5"></div>
			</div>

			<div data-sap-ui-type="ui5strap.Heading" data-text="Bordered &amp; Pulled Icons"></div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Icon" data-icon="quote-left" data-border="true" data-align="PullLeft" data-size="X3"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" …tomorrow we will run faster, stretch out our arms farther… And then one fine morning— So we beat on, boats against the current, borne back ceaselessly into the past. "></div>
				<div data-sap-ui-type="ui5strap.Clearfix"></div>
			</div>

			<div data-sap-ui-type="ui5strap.Heading" data-text="Spinning Icons"></div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-size="Large" data-severity="Default">
					<div data-sap-ui-type="ui5strap.Icon" data-icon="spinner" data-spin="true" data-severity="Primary"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-size="Large" data-severity="Primary">
					<div data-sap-ui-type="ui5strap.Icon" data-icon="circle-o-notch" data-spin="true"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-size="Large" data-severity="Success">
					<div data-sap-ui-type="ui5strap.Icon" data-icon="refresh" data-spin="true"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Button" data-tap="buttonTap" data-size="Large" data-severity="Danger">
					<div data-sap-ui-type="ui5strap.Icon" data-icon="cog" data-spin="true"></div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Heading" data-text="Transformed Icons"></div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Icon" data-icon="shield"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" Default" data-trail="Break"></div>
				
				<div data-sap-ui-type="ui5strap.Icon" data-icon="shield" data-transform="Rotate90"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" Rotate90" data-trail="Break"></div>
				
				<div data-sap-ui-type="ui5strap.Icon" data-icon="shield" data-transform="Rotate180"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" Rotate180" data-trail="Break"></div>
				
				<div data-sap-ui-type="ui5strap.Icon" data-icon="shield" data-transform="Rotate270"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" Rotate270" data-trail="Break"></div>
				
				<div data-sap-ui-type="ui5strap.Icon" data-icon="shield" data-transform="FlipHorizontal"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" FlipHorizontal" data-trail="Break"></div>
				
				<div data-sap-ui-type="ui5strap.Icon" data-icon="shield" data-transform="FlipVertical"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text=" FlipVertical" data-trail="Break"></div>
			</div>
	</div>
</template>