<template>

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- Media List -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Media"></div>

			<div data-sap-ui-type="ui5strap.Heading" data-text="Media List"></div>
			<div data-sap-ui-type="ui5strap.ListMedia">
						
						<div data-sap-ui-type="ui5strap.ListMediaItem">
							<div data-sap-ui-aggregation="media">
								
								<div data-sap-ui-type="ui5strap.Link">
									<div data-sap-ui-type="ui5strap.Image" data-mpath="com__ui5strap__bs.basic__app.img.awesome" data-ext="png" data-alt="Image" data-width="64" data-height="64"></div>
								</div>
							
							</div>
							<div data-sap-ui-aggregation="content">
								
								<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-type="MediaHeading" data-text="Media Heading"></div>
								<div data-sap-ui-type="ui5strap.Text" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus."></div>


								<div data-sap-ui-type="ui5strap.ListMediaItem">
									<div data-sap-ui-aggregation="media">
										<div data-sap-ui-type="ui5strap.Link">
											<div data-sap-ui-type="ui5strap.Image" data-mpath="com__ui5strap__bs.basic__app.img.awesome" data-ext="png" data-alt="Image" data-width="64" data-height="64"></div>
										</div>
									</div>
									<div data-sap-ui-aggregation="content">
										
										<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-type="MediaHeading" data-text="Media Heading"></div>
										<div data-sap-ui-type="ui5strap.Text" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus."></div>
										

										<div data-sap-ui-type="ui5strap.ListMediaItem" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus." data-heading="Quick Media Heading">
											<div data-sap-ui-type="ui5strap.Link">
												<div data-sap-ui-type="ui5strap.Image" data-mpath="com__ui5strap__bs.basic__app.img.awesome" data-ext="png" data-alt="Image" data-width="64" data-height="64"></div>
											</div>
										</div>
									

									</div>
								</div>
								
							</div>
						</div>
						<div data-sap-ui-type="ui5strap.ListMediaItem" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus." data-heading="Quick Media Heading">
							<div data-sap-ui-type="ui5strap.Link">
								<div data-sap-ui-type="ui5strap.Image" data-mpath="com__ui5strap__bs.basic__app.img.awesome" data-ext="png" data-alt="Image" data-width="64" data-height="64"></div>
							</div>
						</div>
						
						<div data-sap-ui-type="ui5strap.ListMediaItem" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus." data-heading="Quick Media Heading">
							<div data-sap-ui-type="ui5strap.Link">
								<div data-sap-ui-type="ui5strap.Image" data-mpath="com__ui5strap__bs.basic__app.img.awesome" data-ext="png" data-alt="Image" data-width="64" data-height="64"></div>
							</div>
						</div>
					</div>

		<div data-sap-ui-type="ui5strap.Heading" data-text="Thumbnails"></div>
			<div data-sap-ui-type="ui5strap.Row">
				
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Link" data-type="Thumbnail">
						<div data-sap-ui-type="ui5strap.Image" data-title="Awesome, isn't it?" data-tooltip-placement="Top" data-mpath="com__ui5strap__bs.basic__app.img.awesome" data-ext="png" data-alt="Image"></div>
					</div>
				</div>
				
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Link" data-type="Thumbnail">
						<div data-sap-ui-type="ui5strap.Image" data-title="Awesome, isn't it?" data-tooltip-placement="Top" data-mpath="com__ui5strap__bs.basic__app.img.awesome" data-ext="png" data-alt="Image"></div>
					</div>
				</div>

				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Thumbnail">
						<div data-sap-ui-aggregation="image">
							<div data-sap-ui-type="ui5strap.Image" data-mpath="com__ui5strap__bs.basic__app.img.awesome" data-ext="png" data-alt="Image"></div>
						</div>
						<div data-sap-ui-aggregation="content">
							<div data-sap-ui-type="ui5strap.Heading" data-text="Thumbnail label"></div>
							<div data-sap-ui-type="ui5strap.Paragraph" data-text="Cras justo odio, dapibus ac facilisis in, egestas eget quam."></div>
							<div data-sap-ui-type="ui5strap.Paragraph">
								<div data-sap-ui-type="ui5strap.Button" data-text="Button" data-severity="Primary"></div>
								<div data-sap-ui-type="ui5strap.Button" data-text="Button"></div>
							</div>
						</div>
					</div>
				</div>

			</div>
</div>
</template>