<template>
	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- Headings -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Typography"></div>

			<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="Heading 1"></div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="2" data-text="Heading 2"></div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="3" data-text="Heading 3"></div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="Heading 4"></div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="5" data-text="Heading 5"></div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="6" data-text="Heading 6"></div>

			<div data-sap-ui-type="ui5strap.Text" data-type="Lead" data-text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."></div>

			<div data-sap-ui-type="ui5strap.Heading" data-level="2" data-text="Example body text"></div>

			<div data-sap-ui-type="ui5strap.Paragraph" data-text="Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula."></div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Text" data-type="Small" data-text="This line of text is meant to be treated as fine print."></div>
			</div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Text" data-text="The following snippet of text is rendered as [strong]bold text[/strong]." data-parse="true"></div>
			</div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Text" data-text="The following snippet of text is rendered as [em]emphasized text[/em]." data-parse="true"></div>
			</div>

			<div data-sap-ui-type="ui5strap.Text" data-type="Blockquote">
				 <div data-sap-ui-type="ui5strap.Text" data-type="Paragraph" data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."></div>
				 <div data-sap-ui-type="ui5strap.Text" data-type="Small" data-text="Someone famous in Source Title"></div>
			</div>
	</div>
</template>