<template  data-controller-name="pks.ui5strap.action.ActionController">
	<!-- Introduction Page 1 -->
	<div data-sap-ui-type="pks.ui5strap.bs3.StaticOverlay">
		<div data-sap-ui-type="pks.ui5strap.bs3.Panel" data-severity="Info" data-title="Second Overlay">
			<div data-sap-ui-type="pks.ui5strap.bs3.Paragraph" data-text="You can navigate inside the overlay!"><</div>
			<div data-sap-ui-type="pks.ui5strap.bs3.Button" data-tap="__execute" data-custom-data:__action="com__ui5strap__examples.50buttons__app.actions.CloseOverlay" data-text="Close"></div>
			
		</div>
	</div>
</template>