<template>
	<!-- Jumbotron -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Jumbotron">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="1" data-text="Contact the author">

		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Visit <a href='http://blog.pksoftware.de'>http://blog.pksoftware.de</a> for OpenUI5 tutorials and articles or visit the author's webpage at <a href='http://pksoftware.de'>http://pksoftware.de</a>.">
		</div>
		
	</div>
</div>