<template  data-controller-name="ui5strap.ActionController">
	<!-- Introduction Page 1 -->
	<div data-sap-ui-type="ui5strap.StaticOverlay">
		<div data-sap-ui-type="ui5strap.Alert" data-closable="true" data-severity="Danger" data-title="Using a Bootstrap Panel as Modal Dialog">
			<div data-sap-ui-aggregation="closeButton">
				<div data-sap-ui-type="ui5strap.Button" data-type="Close" data-tap="__execute" data-custom-data:__action="com__ui5strap__examples.50buttons__app.actions.CloseOverlay">
					<div data-sap-ui-type="ui5strap.Icon" data-icon="times"></div>
				</div>
			</div>
			<div data-sap-ui-aggregation="content">
				<div data-sap-ui-type="ui5strap.Paragraph" data-text="You can use any Control inside a Overlay. Using Panels is a good way to create Modal Dialogs."><</div>
				<div data-sap-ui-type="ui5strap.Button" data-tap="__execute" data-custom-data:__action="com__ui5strap__examples.50buttons__app.actions.ShowOverlay2" data-text="More..."></div>
			</div>
		</div>
	</div>
</template>