<template  data-controller-name="ui5strap.ActionController">
	<!-- Introduction Page 1 -->
	<div data-sap-ui-type="ui5strap.StaticOverlay">
		<div data-sap-ui-type="ui5strap.Panel" data-severity="Info" data-title="Second Overlay">
			<div data-sap-ui-type="ui5strap.Paragraph" data-text="You can navigate inside the overlay!"><</div>
			<div data-sap-ui-type="ui5strap.Button" data-tap="__execute" data-custom-data:__action="com__ui5strap__examples.50buttons__app.actions.CloseOverlay" data-text="Close"></div>
			
		</div>
	</div>
</template>