<template>

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">

<!-- Forms -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Forms"></div>

			<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="Vertical forms"></div>

			<div data-sap-ui-type="ui5strap.Form">
				<div data-sap-ui-type="ui5strap.FormGroup" data-label="Name">
					<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup" data-label="Email" data-severity="Error" data-feedback="true">
					<div data-sap-ui-type="ui5strap.Input" data-input-type="email" data-placeholder="Email" data-value="no@valid@email"></div>
					<div data-sap-ui-type="ui5strap.Icon" data-icon="remove" data-within-form="true"></div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup" data-label="Address">
					<div data-sap-ui-type="ui5strap.Input" data-type="text" data-placeholder="Address"></div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup" data-label="Some option">
					<div data-sap-ui-type="ui5strap.Checkbox" data-label="Option 1"></div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup">
					<div data-sap-ui-type="ui5strap.Radio" data-label="Option A"></div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup">
					<div data-sap-ui-type="ui5strap.Radio" data-label="Option B"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Button" data-text="Submit" data-severity="Success"></div>
			</div>

			<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="Horizontal forms"></div>

			<div data-sap-ui-type="ui5strap.Form" data-type="Horizontal">
				<div data-sap-ui-type="ui5strap.FormGroup" data-label="Name" data-label-small="2">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="10">
						<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup" data-label="Number" data-label-small="2">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="10">
							<div data-sap-ui-type="ui5strap.Paragraph" data-form-static="true" data-text="ABV323GDBS223"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup" data-label="Email"  data-label-small="2" data-severity="Error" data-feedback="true">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="10">
							<div data-sap-ui-type="ui5strap.Input" data-type="email" data-placeholder="Email" data-value="no@valid@email"></div>
							<div data-sap-ui-type="ui5strap.Icon" data-icon="remove" data-within-form="true"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup" data-label="Address"  data-label-small="2" data-severity="Success" data-feedback="true">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="5">
						<div data-sap-ui-type="ui5strap.Input" data-value="Some Street" data-placeholder="Address"></div>
						<div data-sap-ui-type="ui5strap.Icon" data-icon="ok" data-within-form="true"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="5">
						<div data-sap-ui-type="ui5strap.Input" data-value="25a" data-placeholder="Address"></div>
						<div data-sap-ui-type="ui5strap.Icon" data-icon="ok" data-within-form="true"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup">
					<div data-sap-ui-type="ui5strap.Col" data-offset-small="2" data-columns-small="10">
						<div data-sap-ui-type="ui5strap.Checkbox" data-label="Option 1"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup">
					<div data-sap-ui-type="ui5strap.Col" data-offset-small="2" data-columns-small="10">
						<div data-sap-ui-type="ui5strap.Radio" data-label="Option A"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.FormGroup">
					<div data-sap-ui-type="ui5strap.Col" data-offset-small="2" data-columns-small="10">
						<div data-sap-ui-type="ui5strap.Radio" data-label="Option B"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-offset-small="2" data-colums-small="10">
					<div data-sap-ui-type="ui5strap.Button" data-text="Submit" data-severity="Success"></div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="In Navbar"></div>

			<div data-sap-ui-type="ui5strap.NavBar" data-Brand="Brand">
					<div data-sap-ui-type="ui5strap.Form" data-navbar-align="Left">
						<div data-sap-ui-type="ui5strap.FormGroup">
							<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
						</div>
						<div data-sap-ui-type="ui5strap.Button" data-text="Submit" data-severity="Success"></div>
					</div>
			</div>

	</div>
</template>