<template>
	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- Headings -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Grid System"></div>

			<div data-sap-ui-type="ui5strap.Container" data-type="Fluid" class="show-grid">
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="1" data-columns-medium="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="1"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="8" data-columns-medium="8">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="8"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4" data-columns-medium="4">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="4"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4" data-columns-medium="4">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="4"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4" data-columns-medium="4">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="4"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4" data-columns-medium="4">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="4"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="6" data-columns-medium="6">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="6"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="6" data-columns-medium="6">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="6"></div>
					</div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="With Clearfix only for medium screens"></div>

			<div data-sap-ui-type="ui5strap.Container" data-type="Fluid" class="show-grid">
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="6" data-columns-medium="6">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="6"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Clearfix" data-visibility-medium="Visible"></div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="6" data-columns-medium="6">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="6"></div>
					</div>
				</div>
			</div>
		</div>
</template>