<template>
	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- Headings -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Grid System"></div>

			<div data-sap-ui-type="ui5strap.Paragraph" data-text="The Grid System allows you to create flexible layouts depending on the current screen size. If you are using a desktop computer, resize the browser window to see the dynamic behaviour."></div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Text" data-type="Phrasing" data-text="Your screen is "></div>
				<div data-sap-ui-type="ui5strap.Container" data-type="Phrasing" data-visibility-extra-small="Visible">
					<div data-sap-ui-type="ui5strap.Text" data-type="Strong" data-text="ExtraSmall (XS)"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Container" data-type="Phrasing" data-visibility-small="Visible">
					<div data-sap-ui-type="ui5strap.Text" data-type="Strong" data-text="Small (SM)"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Container" data-type="Phrasing" data-visibility-medium="Visible">
					<div data-sap-ui-type="ui5strap.Text" data-type="Strong" data-text="Medium (MD)"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Container" data-type="Phrasing" data-visibility-large="Visible">
					<div data-sap-ui-type="ui5strap.Text" data-type="Strong" data-text="Large (LG)"></div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Container" data-type="Fluid" class="show-grid">
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="<1>"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="12" data-columns-small="8" data-columns-medium="4" data-columns-large="2">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(1) XS <12>, SM <8>, MD <4>, LG <2>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="12" data-columns-small="4" data-columns-medium="2" data-columns-large="1">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(2) XS <12>, SM <4>, MD <2>, LG <1>"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4" data-columns-medium="2" data-columns-large="4">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(1) SM <4>, MD <2>, LG <4>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4" data-columns-medium="8" data-columns-large="4">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(2) SM <4>, MD <8>, LG <4>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4" data-columns-medium="2" data-columns-large="4">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(3) SM <4>, MD <2>, LG <4>"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="3" data-offset-small="3" data-columns-medium="5" data-offset-medium="1" >
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(1) SM |3|<3>, MD |1|<5>"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="5" data-offset-small="1" data-columns-medium="4" data-offset-medium="2">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(2) SM |1|<5>, MD |2|<4>"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Row">
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="3" data-push-small="7" data-columns-medium="5" data-push-medium="5" >
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(1) SM <3> 7->, MD <5> 5->"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="5" data-pull-small="2" data-columns-medium="4" data-pull-medium="5">
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="(2) SM <-2 <5>, MD <-5 <4>"></div>
					</div>
				</div>
			</div>

			
		</div>
</template>