<template>
	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- Headings -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Headings"></div>

			<div data-sap-ui-type="ui5strap.Heading" data-level="2" data-text="Nullam id dolor id nibh ">
				<div data-sap-ui-type="ui5strap.Label" data-severity="Info" data-text="New"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="3" data-text="Maecenas sed diam eget ">
				<div data-sap-ui-type="ui5strap.Label" data-severity="Success" data-text="New"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="Etiam porta sem malesuada ">
				<div data-sap-ui-type="ui5strap.Label" data-severity="Warning" data-text="New"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="5" data-text="Donec ullamcorper nulla non ">
				<div data-sap-ui-type="ui5strap.Label" data-severity="Danger" data-text="New"></div>
			</div>
			<div data-sap-ui-type="ui5strap.Heading" data-level="6" data-text="Lorem ipsum dolor sit ">
				<div data-sap-ui-type="ui5strap.Label" data-severity="Primary" data-text="New"></div>
			</div>
	</div>
</template>