<template>

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- Input Groups -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Input Groups"></div>

			<div data-sap-ui-type="ui5strap.Row">
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="6">
					<div data-sap-ui-type="ui5strap.InputGroup">
						<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
						<div data-sap-ui-type="ui5strap.Button" data-text="Go" data-severity="Success"></div>
					</div>
					<div data-sap-ui-type="ui5strap.InputGroup">
						<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
						<div data-sap-ui-type="ui5strap.Text" data-text="@"></div>
					</div>
					<div data-sap-ui-type="ui5strap.InputGroup">
						<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
						<div data-sap-ui-type="ui5strap.Checkbox" data-type="Default"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="6">
					<div data-sap-ui-type="ui5strap.InputGroup">
						<div data-sap-ui-type="ui5strap.Button" data-text="Go" data-severity="Primary"></div>
						<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
					</div>
					<div data-sap-ui-type="ui5strap.InputGroup">
						<div data-sap-ui-type="ui5strap.Text" data-text="@"></div>
						<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
					</div>
					<div data-sap-ui-type="ui5strap.InputGroup">
						<div data-sap-ui-type="ui5strap.Radio" data-type="Default"></div>
						<div data-sap-ui-type="ui5strap.Input" data-placeholder="Name"></div>
					</div>
				</div>
			</div>


	</div>
</template>