<template>

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- List groups -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="List groups"></div>
			<div data-sap-ui-type="ui5strap.Row">
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.ListGroup">
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Cras justo odio" data-badge="3"></div>
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Dapibus ac facilisis in" data-badge="9"></div>
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Morbi leo risus" data-badge="8"></div>
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Porta ac consectetur ac" data-badge="2"></div>
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Vestibulum at eros" data-badge="1"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.ListGroup" data-use-container="true">
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-selected="true" data-text="Cras justo odio"></div>
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Dapibus ac facilisis in"></div>
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Morbi leo risus"></div>
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Porta ac consectetur ac"></div>
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-text="Vestibulum at eros"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.ListGroup" data-use-container="true">
						<div data-sap-ui-type="ui5strap.ListGroupItem" data-selected="true">
							<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="List group item heading"></div>
							<div data-sap-ui-type="ui5strap.Paragraph" data-text="Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit."></div>
						</div>
						<div data-sap-ui-type="ui5strap.ListGroupItem">
							<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="List group item heading"></div>
							<div data-sap-ui-type="ui5strap.Paragraph" data-text="Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit."></div>
						</div>
						<div data-sap-ui-type="ui5strap.ListGroupItem">
							<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="List group item heading"></div>
							<div data-sap-ui-type="ui5strap.Paragraph" data-text="Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit."></div>
						</div>
						
					</div>
				</div>
			</div>
</div>
</template>