
<template>

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">

		<!-- Navs -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Navs"></div>
			
			<div data-sap-ui-type="ui5strap.Nav" data-type="Pills">
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Home"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem" data-selected="true">
					<div data-sap-ui-type="ui5strap.Link" data-text="Library"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Data"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Contact"></div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Nav" data-type="PillsStacked">
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Home"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem" data-selected="true">
					<div data-sap-ui-type="ui5strap.Link" data-text="Library"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Data"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Contact"></div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Nav" data-type="PillsJustified">
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Home"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem" data-selected="true">
					<div data-sap-ui-type="ui5strap.Link" data-text="Library"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Data"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Contact"></div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Nav" data-type="Tabs">
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Home"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Library"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem" data-selected="true">
					<div data-sap-ui-type="ui5strap.Link" data-text="Data"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Contact"></div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Nav" data-type="TabsJustified">
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Home"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem" data-selected="true">
					<div data-sap-ui-type="ui5strap.Link" data-text="Library"></div>
				</div>
				<div data-sap-ui-type="ui5strap.ListDropdownItem" data-text="Data">
					<div data-sap-ui-type="ui5strap.ListDropdownMenu">
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Cras justo odio"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Dapibus ac facilisis in"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Morbi leo risus"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Porta ac consectetur ac"></div>
							<div data-sap-ui-type="ui5strap.ListLinkItem" data-text="Vestibulum at eros"></div>
						</div>
				</div>
				<div data-sap-ui-type="ui5strap.ListItem">
					<div data-sap-ui-type="ui5strap.Link" data-text="Contact"></div>
				</div>
			</div>

	</div>
</template>