<template>

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- Panels -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Panels"></div>

			<div data-sap-ui-type="ui5strap.Row">
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Panel" data-title="Pane title" data-body="Panel content"></div>
					<div data-sap-ui-type="ui5strap.Panel" data-severity="Success" data-title="Pane title" data-body="Panel content"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Panel" data-severity="Warning" data-title="Pane title" data-body="Panel content"></div>
					<div data-sap-ui-type="ui5strap.Panel" data-severity="Primary" data-title="Pane title" data-body="Panel content"></div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Panel" data-severity="Info" data-title="Pane title" data-body="Panel content"></div>
					<div data-sap-ui-type="ui5strap.Panel" data-severity="Danger" data-title="Pane title" data-body="Panel content"></div>
				</div>
			</div>
</div>
</template>