<template>

	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
<!-- Thumbnails -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Thumbnails"></div>
			<div data-sap-ui-type="ui5strap.Row">
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="6">
					<div data-sap-ui-type="ui5strap.Link" data-type="Thumbnail">
						<div data-sap-ui-type="ui5strap.Image" data-title="Awesome, isn't it?" data-tooltip-placement="Top" data-src="./app/img/awesome.png" data-alt="Image"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="6">
					<div data-sap-ui-type="ui5strap.Thumbnail">
						<div data-sap-ui-aggregation="image">
							<div data-sap-ui-type="ui5strap.Image" data-src="./app/img/awesome.png" data-alt="Image"></div>
						</div>
						<div data-sap-ui-aggregation="content">
							<div data-sap-ui-type="ui5strap.Heading" data-text="Thumbnail label"></div>
							<div data-sap-ui-type="ui5strap.Paragraph" data-text="Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."></div>
							<div data-sap-ui-type="ui5strap.Paragraph">
								<div data-sap-ui-type="ui5strap.Button" data-text="Button" data-severity="Primary"></div>
								<div data-sap-ui-type="ui5strap.Button" data-text="Button"></div>
							</div>
						</div>
					</div>
				</div>
				
			</div>

	</div>
</template>