<template data-controller-name="ui5strap.ActionController">
<div data-sap-ui-type="ui5strap.Sidebar">

					
					<div id="mySubMenu"
									data-sap-ui-type="ui5strap.BarMenu" 
									data-type-extra-small="ButtonsVertical"
									data-tap="__execute" 
									data-custom-data:__action="ui5strap.demoapp.actions.SubMenuSelect" 
									data-items="{submenu>/items}"
								>
									<div 
										data-sap-ui-type="ui5strap.BarMenuItem" 
										data-text="{submenu>label}" 
										data-icon="{submenu>icon}"
										data-item-id="{submenu>pageId}"
									></div>
								</div>
</div>
</template>