<template data-controller-name="ui5strap.ActionController">
	<!-- The page control -->
	<div data-sap-ui-type="ui5strap.Page">
			
			<!-- Head area with horizontal bar -->
			<div data-sap-ui-aggregation="head">
				<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
					<div data-sap-ui-aggregation="content">	
						<!-- Toggle Menu Button (except for small screens) -->
						<div data-sap-ui-type="ui5strap.Container" data-align="PullLeft" data-visibility-small="Hidden">
							<div 
							data-sap-ui-type="ui5strap.Button" data-options="BarButton"
							data-tap="ui5strap.demoapp.actions.ToggleBarMenuRoot" 
							>
								<div data-sap-ui-type="ui5strap.Icon" data-icon="columns"></div>
							</div>
						</div>
						
						<div data-sap-ui-type="ui5strap.Container" data-align="PullLeft">
							<div data-sap-ui-type="ui5strap.Nav" data-options="BarNav" data-selection-mode="Single">
								<div data-sap-ui-type="ui5strap.ListItem" data-selected="true">
									<div data-sap-ui-type="ui5strap.Link" data-text="Theme"></div>
								</div>
								<div data-sap-ui-type="ui5strap.ListItem">
									<div data-sap-ui-type="ui5strap.Link" data-text="Navigation"></div>
								</div>
							</div>
						</div>
					</div>
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-options="BarHeading">
							<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE1_TITLE}"></div>
							<div data-sap-ui-type="ui5strap.Text" data-type="Label" data-severity="Success" data-text="New"></div>
						</div>
					</div>
					<div data-sap-ui-aggregation="right">
						<!-- Toggle Menu Button (only for small screens) -->
						<div data-sap-ui-type="ui5strap.Container" data-type="Text" data-visibility-extra-small="Hidden" data-visibility-medium="Hidden" data-visibility-large="Hidden">
							<div 
							data-sap-ui-type="ui5strap.Button" 
							data-options="BarButton"
							data-tap="ui5strap.demoapp.actions.ToggleBarMenuRoot" 
							>
								<div data-sap-ui-type="ui5strap.Icon" data-icon="columns"></div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<!-- Body area with page content -->
			<div data-sap-ui-aggregation="body">
				<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
					<div data-sap-ui-type="ui5strap.Container" data-type="FluidInset">
						<div data-sap-ui-type="ui5strap.Text" data-type="Lead" data-text-align="Center" data-text="{i18n>HOME_INTRO}">
							
						</div>
						<div data-sap-ui-type="ui5strap.Paragraph" data-text-align="Center">
							<div data-sap-ui-type="ui5strap.Image" data-responsive="false" data-mpath="ui5strap.demoapp.img.awesome" data-ext="png" data-alt="Image" data-width="256" data-height="256"></div>
						</div>
						<div data-sap-ui-type="ui5strap.Row">
							<div data-sap-ui-type="ui5strap.Col" data-columns-small="6" data-offset-small="3" data-columns-medium="6" data-offset-medium="3" >
								<div 
									data-sap-ui-type="ui5strap.ListGroup" 
									data-tap="__execute" 
									data-custom-data:__action="ui5strap.demoapp.actions.NavigateViaMenuRoot" 
									data-items="{menu>/root}"
									data-list-mode="Navigation"
								>
									<div 
										data-sap-ui-type="ui5strap.ListGroupItem" 
										data-text="{formatter:'.formatters.localeString', path:'menu>label'}" 
										data-badge="{menu>badge}"
										data-icon="chevron-right"
										data-severity="{menu>severity}"
									></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</div>

</template>