<template data-controller-name="ui5strap.ActionController">
<div data-sap-ui-type="ui5strap.Sidebar" data-inverse="true" data-padding="false">

					
					<div id="myMenu"
									data-sap-ui-type="ui5strap.BarMenu" 
									data-inverse="true"
									data-zoom-extra-small="-3"
									data-zoom-small="3"
									data-type-extra-small="ButtonsHorizontal"
									data-type-small="ButtonsVertical"
									data-type-medium="ListHorizontal"
									data-type-large="ListVertical"
									
									data-tap="__execute" 
									data-custom-data:__action="ui5strap.demoapp.actions.NavigateViaMenuRoot" 
									data-items="{menu>/root}"
								>
									<div 
										data-sap-ui-type="ui5strap.BarMenuItem" 
										data-text="{menu>label}" 
										data-icon="{menu>icon}"
										data-item-id="{menu>pageId}"
									></div>
								</div>
</div>
</template>