<template data-controller-name="ui5strap.ActionController">
	<!-- The page control -->
	<div data-sap-ui-type="ui5strap.Page">
			<!-- Head area with horizontal bar -->
			<div data-sap-ui-aggregation="head">
				<!-- Bar on top of page -->
				<div data-sap-ui-type="ui5strap.Bar">
					<!-- Middle area of bar -->
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE6_TITLE}"></div>
					</div>
				</div>
			</div>
			
			<!-- Body area with page content -->
			<div data-sap-ui-aggregation="body">
				<div data-sap-ui-type="ui5strap.Button" data-text="test"></div>
			</div>
			
	</div>

</template>