<template data-controller-name="ui5strap.ActionController">
	<!-- The page control -->
	<div data-sap-ui-type="ui5strap.Page">
			<!-- Head area with horizontal bar -->
			<div data-sap-ui-aggregation="head">
				<!-- Bar on top of page -->
				<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
					<!-- Left area of bar -->
					<div data-sap-ui-aggregation="left">
						<!-- Back Button -->
						<div 
							data-sap-ui-type="ui5strap.Button" 
							data-tap="__execute" 
							data-custom-data:__action="ui5strap.demoapp.actions.NavigateToHome"
						>
							<div data-sap-ui-type="ui5strap.Icon" data-icon="home"></div>
						</div>
					</div>
					
					<!-- Middle area of bar -->
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE2_TITLE}"></div>
					</div>
					
					<div data-sap-ui-aggregation="right">
						<div 
						data-sap-ui-type="ui5strap.Button" 
						data-tap="__execute" 
						data-custom-data:__action="ui5strap.demoapp.actions.ToggleBarMenuRoot"
						>
							<div data-sap-ui-type="ui5strap.Icon" data-icon="columns"></div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Body area with page content -->
			<div data-sap-ui-aggregation="body">
				<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
				<div data-sap-ui-type="ui5strap.Container" data-type="FluidInset">
					
						<div data-sap-ui-type="ui5strap.Row">
							<!-- Left Column -->
							<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="12" data-columns-small="6">
							
								<div data-sap-ui-type="ui5strap.Panel" data-title="{i18n>PAGE2_PANEL_LEFT_TITLE}">
										<div data-sap-ui-type="ui5strap.Form">
												<div data-sap-ui-type="ui5strap.FormGroup" data-label="Title">
													<div id="titleInput"  data-sap-ui-type="ui5strap.TextInput" data-placeholder="Subject"></div>
												</div>
												<div data-sap-ui-type="ui5strap.FormGroup" data-label="Message">
													<div id="messageInput" data-sap-ui-type="ui5strap.TextInput" data-rows="3" data-placeholder="Write something ..."></div>
												</div>
												
												<div data-sap-ui-type="ui5strap.Button" 
														data-text="Submit" 
														data-severity="Success"
														data-tap="__execute" 
														data-custom-data:__action="ui5strap.demoapp.actions.AppendFeed"></div>
												
											</div>
								</div>
								
							</div>
							
							<!-- Right Column -->
							<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="12" data-columns-small="6">
							
								<div data-sap-ui-type="ui5strap.Panel" data-title="{i18n>PAGE2_PANEL_RIGHT_TITLE}">
								
									<div data-sap-ui-type="ui5strap.ListMedia" id="feeds" data-tap="execute" 
														data-custom-data:action="ui5strap.demoapp.actions.Debug">
						
										<!-- Media Item 1 -->
										<div data-sap-ui-type="ui5strap.ListMediaItem">
											<div data-sap-ui-aggregation="media">
												<div data-sap-ui-type="ui5strap.Image" data-type="MediaObject" data-mpath="ui5strap.demoapp.img.awesome" data-ext="png" data-alt="Image" data-width="64"></div>
											</div>
											<div data-sap-ui-aggregation="content">
												<div data-sap-ui-type="ui5strap.Icon" data-icon="times" data-align="PullRight" data-custom-data:command="DELETE" ></div> 
												<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-type="MediaHeading" data-text="Media Heading"></div>
												<div data-sap-ui-type="ui5strap.Text" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus."></div>
												<div data-sap-ui-type="ui5strap.Button" 
												data-custom-data:command="MORE"
														data-text="Submit" 
														data-severity="Success"><div data-sap-ui-type="ui5strap.Icon" data-custom-data:command="MORE" data-icon="arrow-right"></div> </div>
											
												<div data-sap-ui-type="ui5strap.ListMedia" id="feedsA" data-tap="__execute" 
														data-custom-data:__action="ui5strap.demoapp.actions.RemovePost">
													<!-- Media Item 2 (nested) -->
													<div data-sap-ui-type="ui5strap.ListMediaItem">
														<div data-sap-ui-aggregation="media">
															<div data-sap-ui-type="ui5strap.Image" data-type="MediaObject" data-mpath="ui5strap.demoapp.img.awesome" data-ext="png" data-alt="Image" data-width="64"></div>
														</div>
														<div data-sap-ui-aggregation="content">
															<div data-sap-ui-type="ui5strap.Icon" data-icon="times" data-align="PullRight" data-custom-data:command="DELETE" ></div> 
															<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-type="MediaHeading" data-text="Media Heading"></div>
															<div data-sap-ui-type="ui5strap.Text" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus."></div>
														</div>
													</div>
													<div data-sap-ui-type="ui5strap.ListMediaItem">
														<div data-sap-ui-aggregation="media">
															<div data-sap-ui-type="ui5strap.Image" data-type="MediaObject" data-mpath="ui5strap.demoapp.img.awesome" data-ext="png" data-alt="Image" data-width="64"></div>
														</div>
														<div data-sap-ui-aggregation="content">
															<div data-sap-ui-type="ui5strap.Icon" data-icon="times" data-align="PullRight" data-custom-data:command="DELETE" ></div> 
															<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-type="MediaHeading" data-text="Media Heading"></div>
															<div data-sap-ui-type="ui5strap.Text" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus."></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Media Item 3 -->
										<div data-sap-ui-type="ui5strap.ListMediaItem" data-text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus." data-heading="Quick Media Heading">
											<div data-sap-ui-type="ui5strap.Image" data-type="MediaObject" data-mpath="ui5strap.demoapp.img.awesome" data-ext="png" data-alt="Image" data-width="64"></div>
										</div>
										
										
									</div>
									
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</div>

</template>