<template data-controller-name="ui5strap.ActionController">
	<!-- The page control -->
	<div data-sap-ui-type="ui5strap.Page">
			<!-- Head area with horizontal bar -->
			<div data-sap-ui-aggregation="head">
				<!-- Bar on top of page -->
				<div data-sap-ui-type="ui5strap.Bar">
					<!-- Left area of bar -->
					<div data-sap-ui-aggregation="left">
						<div 
						data-sap-ui-type="ui5strap.Button" 
						data-tap="__execute" 
						data-custom-data:__action="ui5strap.demoapp.actions.ToggleBarMenuSub1"
						>
							<div data-sap-ui-type="ui5strap.Icon" data-icon="columns"></div>
						</div>
					</div>
					<!-- Middle area of bar -->
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-type="Phrasing" data-text="{i18n>PAGE5_TITLE}"></div>
					</div>
					
				</div>
			</div>
			
			<!-- Body area with page content -->
			<div data-sap-ui-aggregation="body">
				<div data-sap-ui-type="ui5strap.Container" data-type="Full">
					<div data-sap-ui-type="ui5strap.Nav" data-type="Tabs" id="tabContainer1Tabs" data-selection-mode="Single">
						<div data-sap-ui-type="ui5strap.ListItem" data-selected="true">
							<div data-sap-ui-type="ui5strap.Link" data-text="Theme"></div>
						</div>
						<div data-sap-ui-type="ui5strap.ListItem">
							<div data-sap-ui-type="ui5strap.Link" data-text="Navigation"></div>
						</div>
					</div>
	
					<div data-sap-ui-type="ui5strap.TabContainer" class="tabContainer1" data-source="tabContainer1Tabs">
						<div data-sap-ui-type="ui5strap.Container">
							<div data-sap-ui-type="ui5strap.Paragraph">
								<div data-sap-ui-type="ui5strap.ButtonGroup" id="languageSelect" data-select="__execute" data-custom-data:__action="ui5strap.demoapp.actions.SelectLanguage" data-selection-mode="Single">
									<div data-sap-ui-type="ui5strap.Button" data-text="EN" data-custom-data:language="en-US"></div>
									<div data-sap-ui-type="ui5strap.Button" data-text="DE" data-custom-data:language="de-DE" ></div>
								</div>
							</div>
						</div>
						<div data-sap-ui-type="ui5strap.Container">
							<div data-sap-ui-type="ui5strap.demoapp.controls.EventTest"></div>
						
							<div data-sap-ui-type="ui5strap.Button" 
								data-text="{i18n>PAGE5_BUTTON}"
								data-tap="__execute" 
									data-custom-data:__action="ui5strap.demoapp.actions.NavigateToPage2"
									></div>
						</div>
					</div>
				
				</div>
			</div>
			
	</div>

</template>