<template data-controller-name="ui5strap.ActionController">
	<!-- The page control -->
	<div data-sap-ui-type="ui5strap.Page">
			<!-- Head area with horizontal bar -->
			<div data-sap-ui-aggregation="head">
				<!-- Bar on top of page -->
				<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
					<!-- Left area of bar -->
					<div data-sap-ui-aggregation="left">
						<!-- Back Button -->
						<div 
							data-sap-ui-type="ui5strap.Button" 
							data-tap="__execute" 
							data-custom-data:__action="ui5strap.demoapp.actions.GotoPage1"
						>
							<div data-sap-ui-type="ui5strap.Icon" data-icon="chevron-left"></div>
						</div>
					</div>
					
					<!-- Middle area of bar -->
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE3_TITLE}"></div>
					</div>
				</div>
			</div>
			
			<!-- Body area with page content -->
			<div data-sap-ui-aggregation="body">
				<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
				<div data-sap-ui-type="ui5strap.Container" data-type="FluidInset">
					
						<div data-sap-ui-type="ui5strap.Row">
							<!-- Left Column -->
							<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="12" data-columns-small="6">
							
								<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>PAGE3_HEADING1_TITLE}"></div>
								<div data-sap-ui-type="ui5strap.Text" data-type="Lead" data-text="{i18n>PAGE3_HEADING1_TEXT}"></div>
								
							</div>
							
							<!-- Right Column -->
							<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="12" data-columns-small="6">
							
								<div data-sap-ui-type="ui5strap.Table" data-bordered="true" data-hover="true">
									<div data-sap-ui-aggregation="head">
										<div data-sap-ui-type="ui5strap.TableRow">
											<div data-sap-ui-type="ui5strap.TableColumn" data-text=""></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="A"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="B"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="C"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="D"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="E"></div>
										</div>
									</div>
									<div data-sap-ui-aggregation="body">
										<div data-sap-ui-type="ui5strap.TableRow">
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="1"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="21"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="2332"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="2354"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="24"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="1212"></div>
										</div>
										<div data-sap-ui-type="ui5strap.TableRow" data-severity="Success">
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="2"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="32"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="34332"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="4354"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="24"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="3232"></div>
										</div>
										<div data-sap-ui-type="ui5strap.TableRow">
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="3"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="453"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="3332"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="4254"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="124"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="232"></div>
										</div>
										<div data-sap-ui-type="ui5strap.TableRow">
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="4"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="723"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="82"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="7874"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="7824"></div>
											<div data-sap-ui-type="ui5strap.TableColumn" data-text="652"></div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</div>

</template>