<template data-controller-name="ui5strap.ActionController">
	<!-- The page control -->
	<div data-sap-ui-type="ui5strap.Page">
			<!-- Head area with horizontal bar -->
			<div data-sap-ui-aggregation="head">
				<!-- Bar on top of page -->
				<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
					<!-- Left area of bar -->
					<div data-sap-ui-aggregation="left">
						<!-- Back Button -->
						<div 
							data-sap-ui-type="ui5strap.Button" 
							data-tap="__execute" 
							data-custom-data:__action="ui5strap.demoapp.actions.NavigateToHome"
						>
							<div data-sap-ui-type="ui5strap.Icon" data-icon="home"></div>
						</div>
						<!-- Toggle Menu Button (except for small screens) -->
						<div data-sap-ui-type="ui5strap.Container" data-type="Text" data-visibility-small="Hidden">
							<div 
							data-sap-ui-type="ui5strap.Button" 
							data-tap="__execute" 
							data-custom-data:__action="ui5strap.demoapp.actions.ToggleBarMenuRoot"
							>
								<div data-sap-ui-type="ui5strap.Icon" data-icon="columns"></div>
							</div>
						</div>
					</div>
					
					<!-- Middle area of bar -->
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-type="Phrasing" data-text="{i18n>PAGE4_TITLE}"></div>
					</div>
					
					<div data-sap-ui-aggregation="right">
						<!-- Toggle Menu Button (only for small screens) -->
						<div data-sap-ui-type="ui5strap.Container" data-type="Text" data-visibility-extra-small="Hidden" data-visibility-medium="Hidden" data-visibility-large="Hidden">
							<div 
							data-sap-ui-type="ui5strap.Button" 
							data-tap="__execute" 
							data-custom-data:__action="ui5strap.demoapp.actions.ToggleBarMenuRoot"
							>
								<div data-sap-ui-type="ui5strap.Icon" data-icon="columns"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Body area with page content -->
			<div data-sap-ui-aggregation="body">
				<div id="subNav" 
					data-sap-ui-type="ui5strap.BarNavContainer"
					data-bar-size-extra-small="1"
					data-bar-visible="true" 
					data-page-change="__execute" 
					data-custom-data:__action="ui5strap.demoapp.actions.SetSelectedMenuSub1"
					></div>
			</div>
			
	</div>

</template>