<template data-controller-name="ui5strap.ActionController">
	<div data-sap-ui-type="ui5strap.StaticOverlay" data-backdrop="true" data-close="__execute" 
								data-custom-data:__action="ui5strap.demoapp.actions.CloseOverlay">
		<div data-sap-ui-type="ui5strap.Panel" data-title="{i18n>PAGE2_PANEL_LEFT_TITLE}">
				<div data-sap-ui-type="ui5strap.Form">
						<div data-sap-ui-type="ui5strap.FormGroup" data-label="Your Name" data-feedback="true">
							<div id="titleInput"  data-sap-ui-type="ui5strap.TextInput" data-placeholder="Enter your name here ..."></div>
							<div data-sap-ui-type="ui5strap.Icon" data-icon="remove" data-type="FormFeedback"></div>
						</div>
						<div data-sap-ui-type="ui5strap.FormGroup" data-label="Message">
							<div id="messageInput" data-sap-ui-type="ui5strap.TextInput" data-rows="3" data-placeholder="Write something ..."></div>
						</div>
						
						<div data-sap-ui-type="ui5strap.Button" 
								data-text="Submit" 
								data-severity="Success"
								data-tap="__execute" 
								data-custom-data:__action="ui5strap.demoapp.actions.AppendFeed"></div>
						<div data-sap-ui-type="ui5strap.Button" 
								data-text="Cancel" 
								data-tap="__execute" 
								data-custom-data:__action="ui5strap.demoapp.actions.CloseOverlay"></div>
						
					</div>
		</div>
	</div>
</template>