<template data-controller-name="com__ui5strap__bs.basic__app.controllers.Controls">
	<div data-sap-ui-type="ui5strap.Carousel" class="boilerplateCarousel">
				
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Buttons"></div>
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Typography"></div>
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Icons"></div>
				
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Navs"></div>
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.GridSystem"></div>
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Progress"></div>
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Form"></div>
				
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Indicators"></div>
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.MediaList"></div>
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Containers"></div>
				<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="com__ui5strap__bs.basic__app.views.controls.Dialogs"></div>
			</div>
	
</template>