<template data-controller-name="ui5strap.ActionController">
	<div data-sap-ui-type="ui5strap.Page">
			<div data-sap-ui-aggregation="head">
				<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE1_HEADING}"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="body">
				<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
				<div data-sap-ui-type="ui5strap.Container" data-type="FluidInset">
					
						<div data-sap-ui-type="ui5strap.Row">
							<!-- Left Column -->
							<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="12" data-columns-small="6">
							
								<div data-sap-ui-type="ui5strap.Panel" data-title="Time">
								
									<div data-sap-ui-type="tld__domain.shared__lib.Clock" class="dl-clock"></div>
									
								</div>
								
							</div>
							
							<!-- Right Column -->
							<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="12" data-columns-small="6">
							
								<div data-sap-ui-type="ui5strap.Panel" data-title="Slideshow">
								
									<!-- Carousel -->
									<div data-sap-ui-type="ui5strap.Carousel">
						
										<!-- Page 1 -->
										<div data-sap-ui-type="ui5strap.Container">
											<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>INTRO1_HEADING}" class="intro-heading"></div>
											
											<div data-sap-ui-type="ui5strap.List" class="intro-lead">
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO1_LEAD1}"></div>
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO1_LEAD2}"></div>
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO1_LEAD3}"></div>
											</div>
										</div>
								
										<!-- Page 2 -->
										<div data-sap-ui-type="ui5strap.Container">
											<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>INTRO2_HEADING}" class="intro-heading"></div>
											
											<div data-sap-ui-type="ui5strap.List" class="intro-lead">
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO2_LEAD1}"></div>
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO2_LEAD2}"></div>
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO2_LEAD3}"></div>
											</div>
										</div>
										
										<!-- Page 3 -->
										<div data-sap-ui-type="ui5strap.Container">
											<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>INTRO3_HEADING}" class="intro-heading"></div>
											<div data-sap-ui-type="ui5strap.List" class="intro-lead">
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO3_LEAD1}"></div>
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO3_LEAD2}"></div>
												<div data-sap-ui-type="ui5strap.ListItem" data-text="{i18n>INTRO3_LEAD3}"></div>
											</div>
										</div>
									
									</div>
									
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="footer">
				<div data-sap-ui-type="ui5strap.Bar">
					<div data-sap-ui-aggregation="left">
						<div data-sap-ui-type="ui5strap.ButtonGroup">
							<div data-sap-ui-type="ui5strap.Button">
								<div data-sap-ui-type="ui5strap.Icon" data-icon="file"></div>
							</div>
							<div data-sap-ui-type="ui5strap.Button">
								<div data-sap-ui-type="ui5strap.Icon" data-icon="folder-open"></div>
							</div>
						</div>
					</div>
					
					<div data-sap-ui-aggregation="right">
						<div data-sap-ui-type="ui5strap.ButtonGroup">
							<div data-sap-ui-type="ui5strap.Button">
								<div data-sap-ui-type="ui5strap.Icon" data-icon="plus"></div>
							</div>
							<div data-sap-ui-type="ui5strap.Button">
								<div data-sap-ui-type="ui5strap.Icon" data-icon="minus"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

</template>