<template data-controller-name="ui5strap.ActionController">
	<div data-sap-ui-type="ui5strap.Page">
			<div data-sap-ui-aggregation="head">
				<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE2_HEADING}"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="body">

				<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
					<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
						
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>PAGE2_LEAD}"></div>

					</div>
				</div>
			</div>
	</div>

</template>