<template  data-controller-name="ui5strap.ActionController">
	<!-- Introduction Page 1 -->
	<div data-sap-ui-type="ui5strap.StaticOverlay" data-backdrop="true">
		<div data-sap-ui-type="ui5strap.Panel" data-severity="Info" data-title="Using a Bootstrap Panel as Modal Dialog">
			<div data-sap-ui-type="ui5strap.Paragraph" data-text="You can use any Control inside a Overlay. Using Panels is a good way to create Modal Dialogs."><</div>
			<div data-sap-ui-type="ui5strap.Button" data-tap="__execute" data-custom-data:__modules="ui5strap.AMCloseOverlay" data-text="Close via Action"></div>
			<div data-sap-ui-type="ui5strap.Button" data-tap="__execute" data-custom-data:__modules="ui5strap.AMShowOverlay" data-text="Navigate within Overlay" data-custom-data:show-overlay="?viewName=tld__domain.product__app.views.Overlay2&viewType=HTML&target=content&overlayTransition=transition-slide-rtl"></div>
		
		</div>
	</div>
</template>