<template  data-controller-name="ui5strap.ActionController">
	<!-- Introduction Page 1 -->
	<div data-sap-ui-type="ui5strap.StaticOverlay">
		<div data-sap-ui-type="ui5strap.Panel" data-severity="Info" data-title="Second Overlay">
			<div data-sap-ui-type="ui5strap.Paragraph" data-text="You can navigate inside the overlay!"><</div>
			<div data-sap-ui-type="ui5strap.Button" data-tap="__execute" data-custom-data:__modules="ui5strap.AMCloseOverlay" data-text="Close via Action"></div>
			
		</div>
	</div>
</template>