<template data-controller-name="pks.ui5strap.action.ActionController">
	<div data-sap-ui-type="pks.ui5strap.bs3.Page">
			<div data-sap-ui-aggregation="head">
				<div data-sap-ui-type="pks.ui5strap.bs3.Bar" data-inverse="true">
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="pks.ui5strap.bs3.Heading" data-options="BarHeadingCenter" data-text="{i18n>PAGE2_HEADING}"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="body">

				<div data-sap-ui-type="pks.ui5strap.core.ScrollContainer" data-vertical="true">
					<div data-sap-ui-type="pks.ui5strap.bs3.Container" data-type="Fluid">
						
						<div data-sap-ui-type="pks.ui5strap.bs3.Paragraph" data-text="{i18n>PAGE2_LEAD}"></div>

					</div>
				</div>
			</div>
	</div>

</template>