<template data-controller-name="pks.ui5strap.viewer.ActionController">
	<div data-sap-ui-type="pks.ui5strap.bs3.Page">
			<div data-sap-ui-aggregation="head">
				<div data-sap-ui-type="pks.ui5strap.bs3.Bar" data-inverse="true">
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="pks.ui5strap.bs3.Heading" data-options="BarHeadingCenter" data-text="{i18n>PAGE1_HEADING}"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="body">
				<div data-sap-ui-type="pks.ui5strap.core.ScrollContainer" data-vertical="true">
				<div data-sap-ui-type="pks.ui5strap.bs3.Container" data-type="FluidInset">
					
						<div data-sap-ui-type="pks.ui5strap.bs3.Row">
							<!-- Left Column -->
							<div data-sap-ui-type="pks.ui5strap.bs3.Col" data-columns-extra-small="12" data-columns-small="6">
							
								<div data-sap-ui-type="pks.ui5strap.bs3.Panel" data-title="Time">
								
									
									
								</div>
								
							</div>
							
							<!-- Right Column -->
							<div data-sap-ui-type="pks.ui5strap.bs3.Col" data-columns-extra-small="12" data-columns-small="6">
							
								<div data-sap-ui-type="pks.ui5strap.bs3.Panel" data-title="Slideshow">
								
									<!-- Carousel -->
									<div data-sap-ui-type="pks.ui5strap.bs3.Carousel" class="myCarousel">
						
										<!-- Page 1 -->
										<div data-sap-ui-type="pks.ui5strap.bs3.Container">
											<div data-sap-ui-type="pks.ui5strap.bs3.Heading" data-level="1" data-text="{i18n>INTRO1_HEADING}" class="intro-heading"></div>
											
											<div data-sap-ui-type="pks.ui5strap.core.PlainList" class="intro-lead">
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO1_LEAD1}"></div>
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO1_LEAD2}"></div>
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO1_LEAD3}"></div>
											</div>
										</div>
								
										<!-- Page 2 -->
										<div data-sap-ui-type="pks.ui5strap.bs3.Container">
											<div data-sap-ui-type="pks.ui5strap.bs3.Heading" data-level="1" data-text="{i18n>INTRO2_HEADING}" class="intro-heading"></div>
											
											<div data-sap-ui-type="pks.ui5strap.core.PlainList" class="intro-lead">
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO2_LEAD1}"></div>
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO2_LEAD2}"></div>
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO2_LEAD3}"></div>
											</div>
										</div>
										
										<!-- Page 3 -->
										<div data-sap-ui-type="pks.ui5strap.bs3.Container">
											<div data-sap-ui-type="pks.ui5strap.bs3.Heading" data-level="1" data-text="{i18n>INTRO3_HEADING}" class="intro-heading"></div>
											<div data-sap-ui-type="pks.ui5strap.core.PlainList" class="intro-lead">
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO3_LEAD1}"></div>
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO3_LEAD2}"></div>
												<div data-sap-ui-type="pks.ui5strap.core.PlainListItem" data-text="{i18n>INTRO3_LEAD3}"></div>
											</div>
										</div>
									
									</div>
									
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="footer">
				<div data-sap-ui-type="pks.ui5strap.bs3.Bar">
					<div data-sap-ui-aggregation="left">
						<div data-sap-ui-type="pks.ui5strap.bs3.ButtonGroup">
							<div data-sap-ui-type="pks.ui5strap.bs3.Button">
								<div data-sap-ui-type="pks.ui5strap.bs3.Icon" data-icon="file"></div>
							</div>
							<div data-sap-ui-type="pks.ui5strap.bs3.Button">
								<div data-sap-ui-type="pks.ui5strap.bs3.Icon" data-icon="folder-open"></div>
							</div>
						</div>
					</div>
					
					<div data-sap-ui-aggregation="right">
						<div data-sap-ui-type="pks.ui5strap.bs3.ButtonGroup">
							<div data-sap-ui-type="pks.ui5strap.bs3.Button">
								<div data-sap-ui-type="pks.ui5strap.bs3.Icon" data-icon="plus"></div>
							</div>
							<div data-sap-ui-type="pks.ui5strap.bs3.Button">
								<div data-sap-ui-type="pks.ui5strap.bs3.Icon" data-icon="minus"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

</template>