

.ui5strapContainer-option-FloatingContainer{
	float: left;
    padding-left: 90px;
    margin-left: -75px;
    width: 100%;
}

.ui5strapContainer-option-RedBox{
	background-color:red;
}

.ui5strapContainer-option-BorderBox{
    border:solid 2px black;
}

/*
* BEGIN Knob
*/

.knob{
	display:inline-block;
}

/*
* END Knob
*/

/*
* BEGIN Stock Graph
*/

.stock_overview-graph{
    height:320px;
    width:100%;
}

/* tell the SVG path to be a thin blue line without any area fill */
path.stock_overview-graph-stock-line {
    stroke:#025D8C;
    stroke-width: 4;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display:none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #025D8C;
}

.x.axis .tick text {
    font-size: 0.7em;
}

.stock_overview-graph-bar-segment-minus{
    fill:#D83B2B;
}

.stock_overview-graph-bar-segment-plus{
    fill:#028C42;
}   

.stock_overview-graph-bar-segment-type-A1{
    fill : #35A368;
}   

.stock_overview-graph-bar-segment-type-A2{
    fill : #67BA8E;
}   

.stock_overview-graph-bar-segment-type-B1{
    fill: #CC4A14;
}

.stock_overview-graph-bar-segment-type-B2{
    fill: #E88980;
}

.stock_overview-graph-safety-stock{
    stroke:#D83B2B;
    stroke-width:3;

}

.stock_overview-graph-stock-line-circle-beyond{
    fill:#028C42;
}

.stock_overview-graph-stock-line-circle-below{
    fill:#D83B2B;
}

.stock-list li:hover {
    cursor:pointer;
    background-color: #ECF3FA;
}

/*
* END Stock Graph
*/

/*
* BEGIN Clock
*/

/*
* Clock Control
*/
.clock-control {
  position: relative;
  width: 160px;
  height: 160px;
  background-size: cover;
  
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
}

/*
* Clock Control Hand
*/
.clock-control-hand{
  position: absolute;
  width:100%;
  height:100%;

  background-size:160px 160px;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  
   backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
}

/*
* Clock Control Default Face
*/
.clock-control-default {
  background-image: url('../img/clock/clock-face-default.png');
}

/*
* Clock Control Default Second Hand
*/
.clock-control-default > .clock-control-second {
  background-image: url('../img/clock/second-hand-default.png');
}

/*
* Clock Control Default Minute Hand
*/
.clock-control-default > .clock-control-minute {
  background-image: url('../img/clock/minute-hand-default.png');
}

/*
* Clock Control Default Hour Hand
*/
.clock-control-default > .clock-control-hour {
  background-image: url('../img/clock/hour-hand-default.png');
}

/*
* END Clock
*/