<template>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Container">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Contact the author"></div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Visit <a href='http://blog.pksoftware.de'>http://blog.pksoftware.de</a> for OpenUI5 tutorials and articles or visit the author's webpage at <a href='http://pksoftware.de'>http://pksoftware.de</a>.">
		</div>
		
		<!-- Footer (TODO: move into frame) -->
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.HtmlTag" class="footer">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" class="text-muted" data-text="{i18n>COPYRIGHT_NOTICE}"></div>
		</div>
	</div>
</div>