<template  data-controller-name="de_pksoftware.ui5strap_docs.controllers.Home">

	<!-- Themes -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Themes"></div>

	<!-- Small buttons -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Default" data-type="default" data-custom-data:theme="default" data-tap="switchTheme"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Readable" data-type="default" data-custom-data:theme="http://bootswatch.com/readable/bootstrap.min.css" data-tap="switchTheme"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Darkly" data-type="default" data-custom-data:theme="http://bootswatch.com/darkly/bootstrap.min.css" data-tap="switchTheme"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Slate" data-type="default" data-custom-data:theme="http://bootswatch.com/slate/bootstrap.min.css" data-tap="switchTheme"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Journal" data-type="default" data-custom-data:theme="http://bootswatch.com/journal/bootstrap.min.css" data-tap="switchTheme"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Cyborg" data-type="default" data-custom-data:theme="http://bootswatch.com/cyborg/bootstrap.min.css" data-tap="switchTheme"></div>
			
	</div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Find more free bootstrap themes on <a href='http://bootswatch.com'>http://bootswatch.com</a>."></div>


	<!-- Buttons -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Buttons"></div>

	<!-- Large buttons -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="lg" data-text="Default" data-type="default"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="lg" data-text="Primary" data-type="primary"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="lg" data-text="Success" data-type="success"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="lg" data-text="Info" data-type="info"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="lg" data-text="Warning" data-type="warning"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="lg" data-text="Danger" data-type="danger"></div>
	</div>

	<!-- Normal buttons -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-text="Default" data-type="default"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-text="Primary" data-type="primary"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-text="Success" data-type="success"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-text="Info" data-type="info"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-text="Warning" data-type="warning"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-text="Danger" data-type="danger"></div>
	</div>

	<!-- Small buttons -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Default" data-type="default"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Primary" data-type="primary"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Success" data-type="success"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Info" data-type="info"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Warning" data-type="warning"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="sm" data-text="Danger" data-type="danger"></div>
	</div>

	<!-- Extra Small buttons -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="xs" data-text="Default" data-type="default"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="xs" data-text="Primary" data-type="primary"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="xs" data-text="Success" data-type="success"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="xs" data-text="Info" data-type="info"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="xs" data-text="Warning" data-type="warning"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-size="xs" data-text="Danger" data-type="danger"></div>
	</div>

	<!-- Thumbnails -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Thumbnails"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Row">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-css-class="thumbnail">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Image" data-src="./app/img/awesome.png" data-alt="Image"></div>
			</div>
		</div>
	</div>

	<!-- Alerts -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Alerts"></div>
	
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Alert" data-type="success" data-strong-text="Well done! " data-text="You successfully read this important alert message."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Alert" data-strong-text="Heads up! " data-text="This alert needs your attention, but it's not super important."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Alert" data-type="warning" data-strong-text="Warning! " data-text="Best check yo self, you're not looking too good."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Alert" data-type="danger" data-strong-text="Oh snap! " data-text="Change a few things up and try submitting again."></div>

	<!-- List groups -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="List groups"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Row">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroup">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Cras justo odio" data-badge="3"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Dapibus ac facilisis in" data-badge="9"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Morbi leo risus" data-badge="8"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Porta ac consectetur ac" data-badge="2"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Vestibulum at eros" data-badge="1"></div>
			</div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroup" data-use-div="true">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-active="true" data-text="Cras justo odio"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Dapibus ac facilisis in"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Morbi leo risus"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Porta ac consectetur ac"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-text="Vestibulum at eros"></div>
			</div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroup" data-use-div="true">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem" data-active="true">
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="4" data-text="List group item heading"></div>
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit."></div>
				</div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem">
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="4" data-text="List group item heading"></div>
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit."></div>
				</div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.ListGroupItem">
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="4" data-text="List group item heading"></div>
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit."></div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Panels -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Panels"></div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Row">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Panel" data-title="Pane title" data-body="Panel content"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Panel" data-type="success" data-title="Pane title" data-body="Panel content"></div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Panel" data-type="warning" data-title="Pane title" data-body="Panel content"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Panel" data-type="primary" data-title="Pane title" data-body="Panel content"></div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Panel" data-type="info" data-title="Pane title" data-body="Panel content"></div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Panel" data-type="danger" data-title="Pane title" data-body="Panel content"></div>
		</div>
	</div>

	<!-- Wells -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Wells"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Well" data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur."></div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Helper classes"></div>
<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-muted" data-text="Nullam id dolor id nibh ultricies vehicula ut id elit."></div>
<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-primary" data-text="Nullam id dolor id nibh ultricies vehicula ut id elit."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-success" data-text="Duis mollis, est non commodo luctus, nisi erat porttitor ligula."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-info" data-text="Maecenas sed diam eget risus varius blandit sit amet non magna."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-warning" data-text="Etiam porta sem malesuada magna mollis euismod."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-danger" data-text="Donec ullamcorper nulla non metus auctor fringilla."></div>



	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="bg-primary" data-text="Nullam id dolor id nibh ultricies vehicula ut id elit."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="bg-success" data-text="Duis mollis, est non commodo luctus, nisi erat porttitor ligula."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="bg-info" data-text="Maecenas sed diam eget risus varius blandit sit amet non magna."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="bg-warning" data-text="Etiam porta sem malesuada magna mollis euismod."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="bg-danger" data-text="Donec ullamcorper nulla non metus auctor fringilla."></div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Misc"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-href="http://pksoftware.de" data-text="Link to PKSoftware.de"></div>
	
</template>