<template>
	<div data-sap-ui-type="de_pksoftware.ui5strap.ex.ScrollContainer" data-vertical="true">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Container">
			<!-- Jumbotron -->
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Jumbotron">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="1" data-text="{i18n>GET_STARTED_HEADING}"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="{i18n>GET_STARTED_LEAD}">
				</div>
			</div>

			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Row">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">

					<!-- Step 1 -->
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-text="1. Download UI5Strap"></div>
						<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text='<a target="_blank" href="../download.html">Download</a> Ui5Strap and copy all files into a newly created <strong>project directory</strong>.'></div>
						<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Image" data-css-class="get-started-screenshot" data-width="205" data-height="93" data-src="./app/img/step1.png" data-alt="Step 1"></div>
					</div>
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
						<!-- Step 2 -->
						<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-text="2. Integrate OpenUI5"></div>
						<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text='<a target="_blank" href="http://sap.github.io/openui5/">Download</a> OpenUI5 and put its <strong>resources</strong> folder in your <strong>project directory</strong>.'></div>
						<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Image" data-css-class="get-started-screenshot" data-width="205" data-height="119" data-src="./app/img/step2.png" data-alt="Step 2"></div>
					</div>
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
						<!-- Step 3 -->
						<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-text="3. Open the App"></div>
						<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text='Open the index.html file from your <strong>project directory</strong> with your web browser.'></div>
						<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Image" data-css-class="get-started-screenshot" data-width="206" data-height="92" data-src="./app/img/step3.png" data-alt="Step 3"></div>
					</div>
				</div>
			
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-text="Next Steps"></div>

			
			

		</div>
	</div>
	<!-- Footer (TODO: move into frame) -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.HtmlTag" class="footer">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" class="text-muted" data-text="{i18n>COPYRIGHT_NOTICE}"></div>
	</div>
</template>