<template>
	<!-- Jumbotron -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Jumbotron">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="1" data-text="Get Started"></div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-warning" data-text="Please note that the project is still in a very early state. Visit this website regulary to receive the latest news and updates.">
		</div>
	</div>
	
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="2" data-text="First Steps"></div>
	
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="1. Download UI5Strap"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Get the latest version on GitHub at <a href='https://github.com/pks5/ui5strap'>https://github.com/pks5/ui5strap</a>. You can use the existing structure as starting point for your application (<strong>project directory</strong>)."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Image" data-width="205" data-height="93" data-src="./app/img/step1.png" data-alt="Step 1"></div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="2. Integrate OpenUI5"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Download the latest version from <a href='http://sap.github.io/openui5/'>http://sap.github.io/openui5/</a>. Extract the archive and put the <strong>resources</strong> folder in your <strong>project directory</strong>."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Image" data-width="205" data-height="119" data-src="./app/img/step2.png" data-alt="Step 2"></div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="3. Test Example App"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Open the index.html file from your <strong>project directory</strong> in your web browser and you will see a 100% copy of this website."></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Image" data-width="206" data-height="92" data-src="./app/img/step3.png" data-alt="Step 3"></div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Alert" data-strong-text="Please note! " data-text="You need a local webserver to test the example application locally due to cross domain policy. If you want to test the application without a local web server you need to disable web security or use the Safari browser."></div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-muted" data-text="Copyright (c) 2014 PKSoftware.de - powered by UI5Strap - released under Apache 2 license."></div>
</template>