<template>
	<!-- Jumbotron -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Jumbotron">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="1" data-text="Get Started"></div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-warning" data-text="Please note that the project is still in a very early state. Visit this website regulary to receive the latest news and updates.">
		</div>
		
	</div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="2" data-text="Installation"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="1. Download UI5Strap"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Get the latest version on GitHub at <a href='https://github.com/pks5/ui5strap'>https://github.com/pks5/ui5strap</a>">
		</div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="2. Download OpenUI5"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Get the latest version at <a href='http://sap.github.io/openui5/'>http://sap.github.io/openui5/</a>">
		</div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="3. Setup the example app"></div>
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Follow the instructions within the readme file of UI5Strap to install the example application. You can use the example application as starting point for your own project.">
		</div>
</div>