<template  data-controller-name="de_pksoftware.ui5strap_docs.controllers.Home">
	<!-- Jumbotron -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Jumbotron">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="1" data-text="Functionality meets Design">

		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="With UI5Strap, you can use SAP's OpenUI5 together with the popular Bootstrap framework to build responsive websites and apps for enterprise.">
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-tap="gotoGetStarted" data-size="lg" data-text="Get started »" data-type="primary"></div>
		</div>
	</div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Container">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Row">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="2" data-text="Rock solid"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Use the solidity of SAP's OpenUI5 together with the de-facto standard Bootstrap framework to create rock solid responsive websites and apps."></div>
			</div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="2" data-text="Cross platform"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Create a single app that work flawlessly on all modern browsers and devices. With the help of Apache Cordova, you can even create native apps."></div>
			</div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="2" data-text="Enterprise ready"></div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="Made by one of the industry's leaders for enterprise software, OpenUI5 fulfills all needs of an enterprise solution - so does your app made with UI5Strap."></div>
			</div>
		</div>
	</div>

	<!-- Footer (TODO: move into frame) -->
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Row" class="footer">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-css-class="text-muted" data-text="Copyright (c) 2014 PKSoftware.de - this responsive website has been made with UI5Strap."></div>
	</div>
</template>