<template  data-controller-name="de_pksoftware.ui5strap_docs.controllers.Home">
	<div data-sap-ui-type="de_pksoftware.ui5strap.ex.ScrollContainer" data-vertical="true">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Container">

		<!-- Jumbotron -->
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Jumbotron">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="1" data-text="{i18n>HOME_HEADING}">

			</div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="{i18n>HOME_LEAD}">
			</div>
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Button" data-tap="gotoGetStarted" data-size="lg" data-text="{i18n>HOME_BTN_GET_STARTED}" data-type="primary"></div>
			</div>
		</div>

		
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Row">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="2" data-text="{i18n>HOME_FEAT1_HEADING}"></div>
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="{i18n>HOME_FEAT1_TEXT}"></div>
				</div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="2" data-text="{i18n>HOME_FEAT2_HEADING}"></div>
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="{i18n>HOME_FEAT2_TEXT}"></div>
				</div>
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Col" data-columns-small="4">
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="2" data-text="{i18n>HOME_FEAT3_HEADING}"></div>
					<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" data-text="{i18n>HOME_FEAT3_TEXT}"></div>
				</div>
			</div>
			
			
		</div>
	</div>

	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.HtmlTag" class="footer">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" class="text-muted" data-text="{i18n>COPYRIGHT_NOTICE}"></div>
	</div>
</template>