<template>
	<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
		<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
			<!-- Jumbotron -->
			<div data-sap-ui-type="ui5strap.Jumbotron">
				<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>GET_STARTED_HEADING}"></div>
				<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>GET_STARTED_LEAD}">
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Row">
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">

					<!-- Step 1 -->
					<div data-sap-ui-type="ui5strap.Heading" data-text="1. Download UI5Strap"></div>
						<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="../download.html" data-text="Download"></div>
							<div data-sap-ui-type="ui5strap.Text" data-text=" Ui5Strap and copy all files into a newly created "></div>
							<div data-sap-ui-type="ui5strap.Text" data-type="Strong" data-text="project directory"></div>
							<div data-sap-ui-type="ui5strap.Text" data-text="."></div>
						</div>
						<div data-sap-ui-type="ui5strap.Image" data-css-class="get-started-screenshot" data-width="205" data-height="93" data-src="./app/img/step1.png" data-alt="Step 1"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
						<!-- Step 2 -->
						<div data-sap-ui-type="ui5strap.Heading" data-text="2. Integrate OpenUI5"></div>
						<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://sap.github.io/openui5/" data-text="Download"></div>
							<div data-sap-ui-type="ui5strap.Text" data-text="  OpenUI5 and put its "></div>
							<div data-sap-ui-type="ui5strap.Text" data-type="Strong" data-text="resources"></div>
							<div data-sap-ui-type="ui5strap.Text" data-text=" folder in your "></div>
							<div data-sap-ui-type="ui5strap.Text" data-type="Strong" data-text="project directory"></div>
							<div data-sap-ui-type="ui5strap.Text" data-text="."></div>

						</div>
						<div data-sap-ui-type="ui5strap.Image" data-css-class="get-started-screenshot" data-width="205" data-height="119" data-src="./app/img/step2.png" data-alt="Step 2"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
						<!-- Step 3 -->
						<div data-sap-ui-type="ui5strap.Heading" data-text="3. Open the App"></div>
						<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Text" data-text="Open the index.html file from your "></div>
							<div data-sap-ui-type="ui5strap.Text" data-type="Strong" data-text="project directory"></div>
							<div data-sap-ui-type="ui5strap.Text" data-text=" with your web browser."></div>

						</div>
						<div data-sap-ui-type="ui5strap.Image" data-css-class="get-started-screenshot" data-width="206" data-height="92" data-src="./app/img/step3.png" data-alt="Step 3"></div>
					</div>
				</div>

		</div>
	</div>

</template>