<template data-controller-name="ui5strap.ActionController">
	<div data-sap-ui-type="ui5strap.Page">
		<div data-sap-ui-aggregation="head">
			<div data-sap-ui-type="ui5strap.Bar">
				<div data-sap-ui-aggregation="middle">
					<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE4_HEADING}"></div>
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="body">

	<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
		<div data-sap-ui-type="ui5strap.Row">
			<div data-sap-ui-type="ui5strap.Col" data-columns-medium="6" data-columns-small="6">
				<div data-sap-ui-type="ui5strap.Panel" data-title="{i18n>CATEGORY1}" data-severity="Primary" class="res-panel">
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://ui5strap.com" data-text="Ui5Strap Homepage"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://ui5strap.com/docs/" data-text="Documentation"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-type="ui5strap.Col" data-columns-medium="6" data-columns-small="6">
				<div data-sap-ui-type="ui5strap.Panel" data-title="{i18n>CATEGORY2}" data-severity="Default" class="res-panel">
				
					<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://blue-danube-it.de" data-text="Blue Danube IT"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://pksoftware.de" data-text="PKSoftware"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-type="ui5strap.Col" data-columns-medium="6" data-columns-small="6">
				<div data-sap-ui-type="ui5strap.Panel" data-title="{i18n>CATEGORY3}" data-severity="Default" class="res-panel">
					<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://pksoftware.de/kontakt.html" data-text="Contact"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-type="ui5strap.Col" data-columns-medium="6" data-columns-small="6">
				<div data-sap-ui-type="ui5strap.Panel" data-title="{i18n>CATEGORY4}" data-severity="Default" class="res-panel">
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="https://openui5.hana.ondemand.com/#docs/guide/Documentation.html" data-text="OpenUI5 documentation"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="https://openui5.hana.ondemand.com/#docs/api/symbols/sap.ui.html" data-text="OpenUI5 api"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://getbootstrap.com" data-text="Bootstrap documentation"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://blog.pksoftware.de" data-text="PKS Enterprise Blog"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>
</template>