<template  data-controller-name="ui5strap.ActionController">
	<div data-sap-ui-type="ui5strap.Page">
			<div data-sap-ui-aggregation="head">
				<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE1_HEADING}"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="body">

				<div data-sap-ui-type="ui5strap.Container" class="dl-carousel-page1">
					<div data-sap-ui-type="my_lib.Clock" class="dl-clock"></div>
					<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>GET_STARTED_HEADING}"></div>
					<div data-sap-ui-type="ui5strap.Text" data-type="Lead" data-text="{i18n>GET_STARTED_LEAD}"></div>
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Button" data-tap="a_run" data-custom-data:a_id="com_mycompany.my_app.actions.GotoPage2" data-size="Large" data-text="{i18n>BTN_THIS_IS_HOW}" data-severity="Primary"></div>
					</div>
				</div>

			</div>
	</div>

</template>