<template  data-controller-name="ui5strap.ActionController">
	<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
		<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">

			<!-- Jumbotron -->
			<div data-sap-ui-type="ui5strap.Jumbotron">
				<div data-sap-ui-type="ui5strap.Carousel" class="indexCarousel" data-controls="false" data-interval="12000">
					<div data-sap-ui-type="ui5strap.Container">
						<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>HOME_HEADING}"></div>
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>HOME_LEAD}"></div>
						<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Button" data-tap="a_run" data-custom-data:a_id="com_mycompany.my_app.actions.GotoPage2" data-size="Large" data-text="{i18n>HOME_BTN_GET_STARTED}" data-severity="Primary"></div>
						</div>
					</div>
					<div data-sap-ui-type="ui5strap.Container">
						<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>HOME_FEAT1_HEADING}"></div>
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>HOME_FEAT1_TEXT}"></div>
						<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Button" data-tap="a_run" data-custom-data:a_id="com_mycompany.my_app.actions.GotoPage2" data-size="Large" data-text="{i18n>HOME_FEAT1_BUTTON}" data-severity="Success"></div>
						</div>
					</div>
					<div data-sap-ui-type="ui5strap.Container">
						<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>HOME_FEAT2_HEADING}"></div>
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>HOME_FEAT2_TEXT}"></div>
						<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Button" data-tap="a_run" data-custom-data:a_id="com_mycompany.my_app.actions.GotoPage3" data-size="Large" data-text="{i18n>HOME_FEAT2_BUTTON}" data-severity="Warning"></div>
						</div>
					</div>
					<div data-sap-ui-type="ui5strap.Container">
						<div data-sap-ui-type="ui5strap.Heading" data-level="1" data-text="{i18n>HOME_FEAT3_HEADING}"></div>
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>HOME_FEAT3_TEXT}"></div>
						<div data-sap-ui-type="ui5strap.Paragraph">
							<div data-sap-ui-type="ui5strap.Button" data-tap="a_run" data-custom-data:a_id="com_mycompany.my_app.actions.GotoPage4" data-size="Large" data-text="{i18n>HOME_FEAT3_BUTTON}" data-severity="Danger"></div>
						</div>
					</div>
				</div>
			</div>

			<div data-sap-ui-type="ui5strap.Row">
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Heading" data-level="2" data-text="{i18n>HOME_FEAT1_HEADING}">
						<div data-sap-ui-type="ui5strap.Icon" data-icon="gears"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>HOME_FEAT1_TEXT}"></div>
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Button" data-tap="a_run" data-custom-data:a_id="com_mycompany.my_app.actions.GotoPage2" data-text="{i18n>HOME_FEAT1_BUTTON}"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Heading" data-level="2" data-text="{i18n>HOME_FEAT2_HEADING}">
						<div data-sap-ui-type="ui5strap.Icon" data-icon="tint"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>HOME_FEAT2_TEXT}"></div>
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Button" data-tap="a_run" data-custom-data:a_id="com_mycompany.my_app.actions.GotoPage3" data-text="{i18n>HOME_FEAT2_BUTTON}"></div>
					</div>
				</div>
				<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
					<div data-sap-ui-type="ui5strap.Heading" data-level="2" data-text="{i18n>HOME_FEAT3_HEADING}">
						<div data-sap-ui-type="ui5strap.Icon" data-icon="support"></div>
					</div>
					<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>HOME_FEAT3_TEXT}"></div>
					<div data-sap-ui-type="ui5strap.Paragraph">
						<div data-sap-ui-type="ui5strap.Button" data-tap="a_run" data-custom-data:a_modules="ui5strap.AMGotoPage" data-custom-data:goto-page="?viewName=com_mycompany.my_app.views.Page4&amp;transition=transition-flip" data-text="{i18n>HOME_FEAT3_BUTTON}"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</template>