<template>
	<div data-sap-ui-type="ui5strap.Page">
			<div data-sap-ui-aggregation="head">
				<div data-sap-ui-type="ui5strap.Bar">
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Text" data-text="{i18n>PAGE1_HEADING}"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="body">

				<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
					<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
						
						<div data-sap-ui-type="ui5strap.Heading" data-level="3" data-text="Welcome"></div>

						<div data-sap-ui-type="ui5strap.Text" data-type="Lead" data-text="Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid."></div>

						

					</div>
				</div>
			</div>
	</div>

</template>