<template data-controller-name="ui5strap.ActionController">
	<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
	<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
		<div data-sap-ui-type="ui5strap.PageHeader" data-text="{i18n>SUPPORT_HEADING}" data-lead="{i18n>SUPPORT_LEAD}"></div>

		<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="Official webpage"></div>
		<div data-sap-ui-type="ui5strap.Paragraph">
			<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://ui5strap.com" data-text="Ui5Strap Homepage"></div>
		</div>
		<div data-sap-ui-type="ui5strap.Paragraph">
			<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://ui5strap.com/docs/" data-text="Documentation"></div>
		</div>
		<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="Solution providers"></div>
		<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://blue-danube-it.de" data-text="Blue Danube IT"></div>
		</div>
		<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://pksoftware.de" data-text="PKSoftware"></div>
		</div>

		<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="Contact the author"></div>
		<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://pksoftware.de/kontakt.html" data-text="Contact"></div>
		</div>
		
		<div data-sap-ui-type="ui5strap.Heading" data-level="4" data-text="Additional information"></div>
		<div data-sap-ui-type="ui5strap.Paragraph">
			<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="https://openui5.hana.ondemand.com/#docs/guide/Documentation.html" data-text="OpenUI5 documentation"></div>
		</div>
		<div data-sap-ui-type="ui5strap.Paragraph">
			<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="https://openui5.hana.ondemand.com/#docs/api/symbols/sap.ui.html" data-text="OpenUI5 api"></div>
		</div>
		<div data-sap-ui-type="ui5strap.Paragraph">
			<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://getbootstrap.com" data-text="Bootstrap documentation"></div>
		</div>
		<div data-sap-ui-type="ui5strap.Paragraph">
			<div data-sap-ui-type="ui5strap.Link" data-target="_blank" data-href="http://blog.pksoftware.de" data-text="PKS Enterprise Blog"></div>
		</div>
	</div>
</div>
</template>