<template>
	<div data-sap-ui-type="de_pksoftware.ui5strap.ex.ScrollContainer" data-vertical="true">
	<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Container">
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.PageHeader" data-text="Support" data-lead="Get support for your Ui5Strap project."></div>

		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="4" data-text="Official webpage"></div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="http://ui5strap.com" data-text="Ui5Strap Homepage"></div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="http://ui5strap.com/docs/" data-text="Documentation"></div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="4" data-text="Solution providers"></div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="http://blue-danube-it.de" data-text="Blue Danube IT"></div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="http://pksoftware.de" data-text="PKSoftware"></div>
		</div>

		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="4" data-text="Contact the author"></div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
				<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="http://pksoftware.de/kontakt.html" data-text="Contact"></div>
		</div>
		
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Heading" data-level="4" data-text="Additional information"></div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="https://openui5.hana.ondemand.com/#docs/guide/Documentation.html" data-text="OpenUI5 documentation"></div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="https://openui5.hana.ondemand.com/#docs/api/symbols/sap.ui.html" data-text="OpenUI5 api"></div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="http://getbootstrap.com" data-text="Bootstrap documentation"></div>
		</div>
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Link" data-target="_blank" data-href="http://blog.pksoftware.de" data-text="PKS Enterprise Blog"></div>
		</div>

		
		<!-- Footer (TODO: move into frame) -->
		<div data-sap-ui-type="de_pksoftware.ui5strap.controls.HtmlTag" class="footer">
			<div data-sap-ui-type="de_pksoftware.ui5strap.controls.Paragraph" class="text-muted" data-text="{i18n>COPYRIGHT_NOTICE}"></div>
		</div>
	</div>
</div>
</div>