<template data-controller-name="com_mycompany.my_app.controllers.Home">
	<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
		<div data-sap-ui-type="ui5strap.Container" data-type="Page">
			<!-- Themes -->
			<div data-sap-ui-type="ui5strap.PageHeader" data-text="Themes" data-lead="Push a button to change the site's theme."></div>

			<!-- Small buttons -->
			<div data-sap-ui-type="ui5strap.Paragraph">
					<div data-sap-ui-type="ui5strap.Button" data-selected="true" id="defaultThemeButton" data-size="Small" data-text="Default" data-custom-data:theme="default" data-tap="switchTheme"></div>
					<div data-sap-ui-type="ui5strap.Button" data-size="Small" data-text="Readable" data-custom-data:theme="http://bootswatch.com/readable/bootstrap.min.css" data-tap="switchTheme"></div>
					<div data-sap-ui-type="ui5strap.Button" data-size="Small" data-text="Darkly" data-custom-data:theme="http://bootswatch.com/darkly/bootstrap.min.css" data-tap="switchTheme"></div>
					<div data-sap-ui-type="ui5strap.Button" data-size="Small" data-text="Slate" data-custom-data:theme="http://bootswatch.com/slate/bootstrap.min.css" data-tap="switchTheme"></div>
					<div data-sap-ui-type="ui5strap.Button" data-size="Small" data-text="Journal" data-custom-data:theme="http://bootswatch.com/journal/bootstrap.min.css" data-tap="switchTheme"></div>
					<div data-sap-ui-type="ui5strap.Button" data-size="Small" data-text="Cyborg" data-custom-data:theme="http://bootswatch.com/cyborg/bootstrap.min.css" data-tap="switchTheme"></div>
					
			</div>

			<div data-sap-ui-type="ui5strap.Paragraph">
				<div data-sap-ui-type="ui5strap.Text" data-text="Find more free bootstrap themes on "></div>
				<div data-sap-ui-type="ui5strap.Link" data-href="http://bootswatch.com" data-text="bootswatch.com"></div>
				<div data-sap-ui-type="ui5strap.Text" data-text="."></div>
			</div>	
		</div>
	</div>
</template>