<template data-controller-name="pks.ui5strap.action.ActionController">
	<div data-sap-ui-type="ui5strap.Page">
		<div data-sap-ui-aggregation="head">
			<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
				<div data-sap-ui-type="ui5strap.Heading" data-options="BarHeadingCenter">
					<div data-sap-ui-type="ui5strap.Text" data-text="Stock"></div>
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="body">
			<div id="material-graph" data-sap-ui-type="net__rozzo__stockmgr.stockdemo__app.controls.StockGraph"></div>
		</div>
	</div>
</template>