<template data-controller-name="pks.ui5strap.viewer.ActionController">
	<div data-sap-ui-type="pks.ui5strap.bs3.Page">
		<div data-sap-ui-aggregation="head">
			<div data-sap-ui-type="pks.ui5strap.bs3.Bar" data-inverse="true">
				<div data-sap-ui-type="pks.ui5strap.bs3.Heading" data-options="BarHeadingCenter">
					<div data-sap-ui-type="pks.ui5strap.bs3.Text" data-text="Materials"></div>
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="body">
			<div data-sap-ui-type="pks.ui5strap.bs3.Bar" data-full-height="true">
				<div data-sap-ui-type="pks.ui5strap.bs3.ListGroup" data-selection-mode="Single" data-select="__execute" data-custom-data:__action="net__rozzo__stockmgr.stockdemo__app.actions.UpdateMaterial" class="stock-list">
					<div data-sap-ui-type="pks.ui5strap.bs3.ListGroupItem" data-text="AMR-334-X" data-selected="true">
					</div>
					<div data-sap-ui-type="pks.ui5strap.bs3.ListGroupItem" data-text="BSW-3222-V">
					</div>
					<div data-sap-ui-type="pks.ui5strap.bs3.ListGroupItem" data-text="KSF-33422-V">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>